.th-centre {
  background: red;
  font-size: 75%;
}

.td-left {
  background: red;
  font-size: 75%;
}

.btn-control {
  background: red;
  width: 100%;
  color: white;
  font-size: 75%;
}


.btn-element,
.btn-add,
.btn-del {
  background: red;
  size: 100%;
  color: white;
}

.character {
  text-align: center;
  padding-bottom: 0;
  margin-bottom:0;
}

.dialogue {
 margin: 0 40px 20px 40px; 
}

.breakdown-list {
  background: tan;
  color: black;
}

.script {
  background: white;
  color: black;
  font-size: 75%;
}