/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    font-size: 75%;
  }
  
  .topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px 0 16px;
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav p:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav p.active {
    background-color: #04AA6D;
    color: white;
  }

  .tableFixHead3 {
    overflow-y: auto;
    height: 440px;
    border: 12px black solid;
  }

  .tableFixHead3 thead th {
    position: sticky;
    top: 0;
  }

  .tableFixHead2 {
    overflow-y: auto;
    height: 300px;
    border: 12px black solid;
  }

  .tableFixHead2 thead th {
    position: sticky;
    top: 0;
  }

  .tableFixHead {
    overflow-y: auto;
    height: 420px;
    border: 12px black solid;
  }
  .tableFixHead thead th {
    position: sticky;
    top: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    padding: 4px 4px;
    border: 4px solid #ccc;
    background: black;
  }
  .head-display {
    border-style: solid;
    border-width: 0 0 5px 0;
    color: black;
    background: #eee;
  }

  .box{
    overflow-y: auto;
    height: 220px;
    padding: 0 20px;
}