/* General Styles */
.container,
.container-fluid {
  background: black;
  color: white;
  border: 12px solid darkslategrey;
}

table {
  background: black;
}

.paperwork-box {
  background: lightgrey;
  border: double 4px red;
  border-radius: 25px;
  padding: 10px 0;
  margin: 0 10px;
  color: black;
}

.btn-del-add,
.btn-prev-next,
.btn-generate,
.btn-incomplete,
.btn-merge,
.btn-control,
.btn-add-entity,
.btn-element,
.btn-hide,
.btn-add,
.btn-del,
.btn-compile,
.btn-generate-scene,
.btn-delete-shot,
.btn-add-shot,
.btn-scene,
.btn-select,
.btn-play,
.btn-edit-character,
.btn-play-sample,
.btn-next,
.btn-previous,
.btn-edit,
.btn-blue {
  display: block;
  background: red;
  color: white;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  font-size: 75%;
}

.btn-big-red {
  display: block;
  background: red;
  color: white;
  border: 2px solid black;
  text-align: center;
  width: 100%;
}

.btn-blue {
  display: block;
  background: blue;
  color: white;
  border: 2px solid black;
  text-align: center;
  width: 100%;
  font-size: 75%;
}

.btn-control,
.btn-add-entity,
.btn-element,
.btn-hide,
.btn-add,
.btn-del,
.btn-compile,
.btn-generate-scene,
.btn-delete-shot,
.btn-add-shot,
.btn-scene,
.btn-select,
.btn-play,
.btn-edit-character,
.btn-play-sample,
.btn-edit {
  margin-bottom: 2px;
}

.btn-control,
.btn-add-entity,
.btn-element,
.btn-hide,
.btn-add,
.btn-del,
.btn-compile,
.btn-generate-scene,
.btn-delete-shot,
.btn-add-shot,
.btn-scene,
.btn-select,
.btn-play,
.btn-edit-character,
.btn-play-sample,
.btn-edit,
.btn-blue {
  display: block;
  width: 100%;
}

.top {
  padding: 4px 0;
  font-size: 130%;
  border: 4px double cornflowerblue;
}

.scene-box-little {
  font-size: 75%;
}

.scene-box-large {
  font-size: 100%;
}

.scene-box-large-est {
  font-size: 125%;
}

.selected {
  background: red;
}

.scene-box {
  background: slategrey;
  color: white;
  border: 2px double blue;
}

.table-red {
  background: red;
}

/* Table Styles */
.table-header,
.table-data,
.table-header-small,
.table-data-small {
  background: grey;
  color: white;
  border: 2px solid red;
}

.table-header,
.table-header-small {
  background: slategrey;
  font-size: 75%;
}

.table-scroll tbody {
  position: absolute;
  overflow-y: scroll;
  width: 1200px;
}

.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}

.table-scroll thead > tr > th {
  border: none;
}

.input-credit {
  color: black;
}

#input-note {
  color: white;
  background: black;
  text-align: left;
}

/* Form Styles */
.input,
textarea {
  background: black;
  color: white;
  border: 2px solid white;
}

textarea {
  resize: vertical;
}

/* Button Styles */
.btn-fdx-yes {
  background: violet;
}

.btn-return {
  margin-top: 30px;
  background: red;
}

.btn-side {
  background: blue;
  color: white;
  border: 2px solid black;
  margin: 2px 2px 0 0;
  width: 94%;
}

/* Header Styles */
#heading {
  font-size: 200%;
}

.hdr {
  background: silver;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}

.header-line {
  background: red;
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}

/* Miscellaneous Styles */
html {
  background: #555;
}

.img {
  border: 5px solid #555;
}

.card {
  text-align: center;
}

.well {
  height: 500px;
}

.voice,
#voices {
  background: black;
  color: white;
}

.sep {
  background: skyblue;
}

/* Dialog Styles */
.character,
.dialogue {
  text-align: center;
  margin: 0 40px;
}

/* Slider Styles */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/* Text Styles */
.chars,
.txt,
.data-header,
.data-display,
.data-char,
.header-display,
.non-header-display,
.break {
  background: black;
  color: white;
  padding: 0 4px;
  font-size: 80%;
}

.data-header {
  text-align: right;
  background: white;
  color: black;
  font-weight: bold;
}

.data-left {
  text-align: left;
  background: black;
  color: silver;
}

.data-central {
  text-align: center;
  background: black;
  color: silver;
}

.data-right {
  text-align: right;
  background: black;
  color: white;
}

.data-page {
  background: white;
  color: black;
}

.header-display {
  background: slategrey;
}

.non-header-display {
  background: cornflowerblue;
  font-weight: bold;
}

.break {
  background: silver;
}

#module-text {
  background: blue;
  color: red;
  border: 6px solid black;
  margin: 0 60px;
}

#list,
#error-response {
  text-align: center;
}

#characters,
#sound-data,
#sub-show {
  background: black;
  color: white;
}

#filmTitle-head {
  text-align: right;
}

#summary,
#fname,
.chars,
.txt {
  background: white;
  color: black;
}

#btn-front {
  margin-top: 20px;
}

.white-border {
  padding: 2px 10px;
  background: red;
  color: white;
  border: 4px solid white;
  text-align: center;
}

.header-right {
  color: white;
  background: black;
  text-align: right;
}

/* Shot Styles */
.shot-header,
.shot-header-right,
.shot-select,
.shot-subject,
.shot-description,
.display-box {
  background: white;
  color: black;
}

.shot-header-right {
  text-align: right;
}

.shot-subject,
.shot-description {
  border: none;
}

/* Paperwork Styles */
.paperwork-box {
  background: lightgrey;
  color: black;
  border: double 4px red;
  border-radius: 25px;
  padding: 10px 0;
  margin: 0 10px;
}

/* Show Styles */
.show,
.show2 {
  background: steelblue;
  color: black;
  border: 4px solid blue;
  padding: 4px;
}

/* Top Navigation Styles */
.topnav {
  background-color: #333;
  overflow: hidden;
  font-size: 75%;
}

.topnav p {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px 0 16px;
  text-decoration: none;
}

.topnav p:hover {
  background-color: #ddd;
  color: black;
}

.topnav p.active {
  background-color: #04AA6D;
  color: white;
}

/* Table Styles */
.tableFixHead,
.tableFixHead2,
.tableFixHead3 {
  overflow-y: auto;
  border: 12px black solid;
}

.tableFixHead thead th,
.tableFixHead2 thead th,
.tableFixHead3 thead th {
  position: sticky;
  top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  padding: 4px;
  border: 4px solid #ccc;
  background: black;
}

.head-display {
  border-bottom: 5px solid black;
  color: black;
  background: #eee;
}

/* Box Styles */
.box,
.box2 {
  overflow-y: auto;
  padding: 0 20px;
  color: red;
}

.box {
  height: 220px;
}

.box2 {
  height: 200px;
}

/* Input Range Styles */
input[type=range][orient=vertical] {
  appearance: slider-vertical;
  width: 10px;
  height: 400px;
  padding: 0 5px;
}
