.container,
.container-fluid {
  background: black;
  color: white;
  border: darkslategrey 12px solid;
}

table {
  background: black;
}

.paperwork-box {
  background: lightgrey;
  border: double 4px red;
  border-radius: 25px;
  padding: 10px 0;
  margin: 0 10px;
  color: black;
}

.btn-navigate {
  background: green;
  font-size: 75%;
  display: block;
  width: 100%;
  text-align: center;
}

.btn-remove-tag,
.btn-element {
  text-align: center;
  color: white;
  font-size: 100%;
  width: 100%;
}

.btn-delete-shot ,
.btn-add-shot {
  background: red;
  display: block;
  width: 100%;
}

.btn-deladd {
  text-align: center;
  background: black;
  color: white;
  font-size: 75%;
  width: 100%;
}

.btn-prevnext {
  text-align: center;
  display: block;
  width: 100%;
  background: blue;
  color: white;
}

.scene-box-little {
  font-size:75%;
}

.scene-box-large {
  font-size:100%;
}

.scene-box-large-est {
  font-size:125%;
}


.selected {
  background:red;
}

.scene-box {
  background: slategrey;
  color: white;
  border: double 2px blue;
}

.table-red {
  background: red;
};

.table-header {
  background: skyblue;
  color: white;
  border: 2px solid red;
}

.table-data {
  background: grey;
  color: black;
  border: 2px solid red;
}

.btn-compile-scene,
.btn-compile {
  background: red;
  font-size: 75%;
  color: black;
}

.table-header-small {
  background: slategrey;
  color: white;
  border: 2px solid red;
  font-size: 75%p;
}

.table-data-small {
  background: grey;
  color: black;
  border: 2px solid red;
  font-size: 75%p;
}

.btn-modify {
  background: darkcyan;
}

.btn-generate {
  display: block;
  background: red;
  color: white;
  border: black 2px solid;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 75%;
}

.btn-incomplete {
  display: block;
  background: white;
  color: white;
  border: black 2px solid;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 75%;
}

.btn-merge {
  display: block;
  background: skyblue;
  color: black;
  border: black 2px solid;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 75%;
}

.top {
  padding: 4px 0;
  font-size: 130%;
  border: cornflowerblue 4px double;
}

#top-row {
  padding-bottom: 3px;
}

.padded {
  padding: 0 4px;
  background: slategrey;
}

.red-row {
  background: red;
}
.small-text {
  font-size: 60%;
}

.red-box {
  background: red;
}

.blue-box {
  background: steelblue;
}

#piccy {
  border: 6px solid white;
}

.show {
  background: paleturquoise;
  border: 4px blue solid;
  color: black;
  padding: 4px;
}

.show2 {
  background: steelblue;
  border: 4px blue solid;
  color: black;
  padding: 4px;
}

.display {
  border: 4px red solid;
}

html {
  background: #555;
}

#heading {
  font-size: 200%;
}

.data-header {
  text-align: right;
  background: white;
  padding: 0px 4px;
  color: black;
  font-weight: bolder;
}

.data-left {
  text-align: left;
  padding: 0px 4px;
  background: black;
  color: silver;
}

.data-right {
  text-align: right;
  background: black;
  padding: 0px 4px;
  color: white;
}

.data-central {
  text-align: left;
  padding: 0px 4px;
  background: #000000;
  color: silver;
  font-size: 75%;
}

.data-display {
  background: black;
  padding: 0px 4px;
}

.data-char {
  background: black;
  padding: 0px 4px;
  color: white;
}

.header-display {
  background: slategrey;
  padding: 0px 4px;
}

.header-line {
  background: red;
  font-weight: bold;
  font-size:120%;
  text-align: center;
}

.non-header-display {
  background: cornflowerblue;
  padding: 0px 4px;
  font-weight:bold;
}

.break {
  background: silver;
}

.h-chars {
  background: red;
}

.voice {
  background: black;
  color: white;
}

#voices {
  background: black;
  color: white;
}

.card {
  text-align:center;
}

.img {
  border: 5px solid #555;
}

input[type="range"][orient="vertical"] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 20px;
  height: 600px;
  padding: 100pxs 5px;
}

input,
textarea {
  background: black;
  border: 2px white solid;
}

textarea {
  resize: vertical;
}

.txt {
  background: white;
}

#module-text {
  background: blue;
  color: red;
  border: 6px solid black;
  margin: 0 60px;
}

.hdr {
  background: silver;
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 150%;
}

#list {
  text-align: center;
}

#error-response {
  text-align: center;
}

.chars,
.txt {
  color: black;
  text-align: left;
}

#btn-front {
  margin-top: 20px;
}

.btn-fdx-yes {
  background: violet;
  color: white;
  border: black 2px solid;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 75%;
}

.btn-scene,
.btn-select,
.btn-play,
.btn-play-sample,
.btn-edit {
  display: block;
  background: red;
  color: white;
  border: black 2px solid;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 75%;
}

.btn-blue {
  display: block;
  background: grey;
  color: white;
  border: black 2px solid;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 75%;
}

.btn-side {
  background: blue;
  color: white;
  border: black 2px solid;
  margin: 2px 2px 0 0;
  width: 94%;
}

.btn-return {
  background: red;
  margin-top: 30px;
}

.white-border {
  padding: 2px 10px;
  background: red;
  color: white;
  border: white 4px solid;
  text-align: center;
}

#characters {
  background: #555;
  color: black;
}

#filmTitle-head {
  text-align: right;
}

#summary,
#fname {
  background: white;
  color: black;
}

.well {
  background: none;
  height: 500px;
}

.table-scroll tbody {
  position: absolute;
  overflow-y: scroll;
  width: 1200px;
}

.table-scroll tr {
  width: 100%;
  table-layout: fixed;
  display: inline-table;
}

.table-scroll thead > tr > th {
  border: none;
}

#sound-data {
  font-size: 60%;
}

.sep {
  background: skyblue;
}

#sub-show {
  background: dodgerblue;
  border: black 4px solid;
}

.data-page {
  background: white;
  color: black;
}

.shot-header {
  background:mediumslateblue;
}

.display-box {
  border: double white 4px;
}

.data-showreel {
  vertical-align: top;
  background: black;
  color: white;
  padding: 0 4px;
}

.shot-header-right {
  background:mediumslateblue;
  text-align: right;
}

.shot-select {
  background: black;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
} 

.shot-subject,
.shot-description {
  border: 0;
}