{% extends 'paperwork/paperwork.njk' %}
{% block page %}
 <div class='row'>
   &nbsp;
  <div class='row' style='padding: 10px 0'>
  <div class='col-md-1'></div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-category-pdfs'>
        Category PDFs
      </button>
      {{categoryDirectory}}
    </div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-category-spreadsheets'>
        Category Spreadsheets
      </button>
      {{categoryDirectory}}
    </div>
  </div>
  <div class='row' style='padding: 10px 0'>
  <div class='col-md-1'></div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-sheet-pdfs'>
        Sheet PDFs
      </button>
      {{sheetDirectory}}
    </div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-sheet-spreadsheets'>
        Sheet Spreadsheets
      </button>
      {{sheetDirectory}}
    </div>
  </div>
  <div class='row' style='padding: 10px 0'>
    <div class='col-md-1'></div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-shot-pdfs'>
        Shot PDFs
      </button>
      {{shotDirectory}}
    </div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-shot-spreadsheets'>
        Shot Spreadsheets
      </button>
      {{sheetDirectory}}
    </div>
  </div>
  <div class='row' style='padding: 10px 0'>
    <div class='col-md-1'></div>
    <div class='col-md-5 paperwork-box'>
      <button type='button' class='btn btn-edit' id='btn-powerpoint'>
        Powerpoint
      </button>
      {{powerpointDirectory}}
    </div>
  </div>
   <div class='row'>
   &nbsp;
   </div>
  <script src='../js/generate-paperwork.js'></script>
  <script src='../js/paperwork.js'></script>
{% endblock %}