{% extends 'paperwork/paperwork.njk' %}

{% block page %}
  <!-- Hidden variables for phase and size -->
  <p id='phase' hidden='hidden'>{{ phase }}</p>
  <p id='size' hidden='hidden'>{{ size }}</p>

  <div class='row'>
    <!-- Table for shot list -->
    <div class='col-md-10 tableFixHead3' id='table1'>
      {% for i in range(1, shotList.length) -%}
        <!-- Scene box for each shot -->
        <div class='row scene-box scene-box-little' id='bx_{{ i }}'>
          <!-- Scene number -->
          <div class='col-md-1' id='sc_{{ i }}'>Scene {{ shotList[i].scene }}</div>
          <!-- Slug list -->
          <div class='col-md-4' id='sl_{{ i }}'>{{ slugList[i] }}</div>
          <!-- Shot note -->
          <div class='col-md-7' id='sh_{{ i }}'>{{ shotList[i].note }}</div>
        </div>
      {% endfor %}
    </div>

    <!-- Column for buttons and scene order -->
    <div class='col-md-2'>
      <!-- Button to reset order -->
      <button type='button' class='btn btn-edit btn-sm' id='btn-reset'>Reset Order</button>
      <br><br>

      <!-- Display scene order -->
      {% for i in range(1, sceneOrder.length) -%}
        {{ sceneOrder[i] }},
      {% endfor %}
    </div>
  </div>

  <!-- Include JavaScript files -->
  <script src='../js/paperwork.js'></script>
  <script src='../js/scene-arranger.js'></script>
{% endblock %}
