{% extends "parent.njk" %}
{% block page %}
  <div class='row top'>
    <p id='categories' hidden>{{categories}}</p>
    <p id='hidden' hidden>{{hidden}}</p>
    <p id='scr1' hidden>{{scr1}}</p>
    <div class='col-md-2'>
      {% if sceneNumber > 0 %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-first-scene'>
          First Scene
        </button>
      {% else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-first-scene' disabled="disabled">
          First Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if sceneNumber > 0 %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-previous-scene'>
          Previous Scene
        </button>
      {% else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-previous-scene' disabled="disabled">
          Previous Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if sceneNumber < highestScene %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-next-scene'>
          Next Scene
        </button>
      {%else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-next-scene' disabled="disabled">
          Next Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if sceneNumber < highestScene %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-last-scene'>
          Last Scene
        </button>
      {% else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-last-scene' disabled="disabled">
          Last Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-1'>
      <h4>Scene
        {{sceneNumber}}</h4>
    </div>
    <div class='col-md-2'>&nbsp;</div>
    <div class='col-md-1'>
      <button type='button' class='btn-prevnext btn-sm' id='btn-report'>
        Report
      </button>
    </div>
  </div>
  <!-- end of row 1 -->

  <div class='row top'>
    <div class='col-md-4 tableFixHead3' style='font-size: 70%;' id='table1'>
      {% for i in range(0, breakdown.length) -%}
        <table id='table-{{headers[i]}}' class='zzz'>
          <thead>
            <tr>
              <th width='70%'>
                <button type='button' class='btn-element' value='{{breakdown[i][0]}}'>{{breakdown[i][0]}}</button>
              </th>
              <th width='15%'>
                <button type='button' style='background: red; width:100%;' class='btn-hide' value='{{breakdown[i][0]}}'>Hide</button>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for j in range(1, breakdown[i].length) -%}
              <tr>
                <td id='entity-{{j -1}}' class='breakdown-list'>{{breakdown[i][j]}}</td>
                <td>
                  <button type='button' class='btn-del btn-block' id='del-{{breakdown[i][0]}}' value='{{breakdown[i][j]}}'>Delete</button>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <form action='\breakdown?title={{title}}&sceneNumber={{sceneNumber}}&element={{breakdown[i][0]}}&action=add'>
                <td>
                  <input type="text" name="entity" size='40' style='border: 0px;'>
                  <input type="hidden" name="title" value="{{title}}">
                  <input type="hidden" name="sceneNumber" value="{{sceneNumber}}">
                  <input type="hidden" name="elementNumber" value="{{elementNumber}}">
                  <input type="hidden" name="element" value="{{breakdown[i][0]}}">
                  <input type="hidden" name="action" value="add">
                </td>
                <td>
                  <input type="submit" style='width:100%; margin:0; padding: 0;' value="Submit">
                </td>
              </form>
            </tr>
            <tr>
              <td colspan='3' style='background: steelblue; font-size:50%;'>&nbsp;</td>
            </tr>
          </tbody>
        </table>
      {%endfor %}
    </div>

    <div class='col-md-6 tableFixHead3 script'>
      {% for i in range(0, scene.length) -%}
        {% if scene[i].character === 'NARRATOR'%}
          <p class='action' id='{{p_act[i]}}'>{{scene[i}.dialogue}}</p>
        {% else %}
          <p class='character' id='{{p_cha[i]}}' }="}">{{scene[i].character}}</p>
          <p class='dialogue' id='{{p_dia[i]}}'>{{scene[i}.dialogue}}</p>
        {% endif %}
      {% endfor %}
    </div>

    <div class='col-md-2 tableFixHead3' style='font-size: 80%; background:steelblue;'>
      <button type='button' class='btn-hide-reveal' id='btn-hide-all'>Hide All</button>
      <button type='button' class='btn-hide-reveal' id='btn-reveal-all'>Reveal All</button>
      <br>
      {% for i in range(0, breakdown.length) -%}
        <button type='button' class='btn-control' id='btn-control-{{headers[i]}}' value='{{headers[i]}}' hidden="hidden">Reveal
          {{headers[i]}}</button>
      {% endfor %}
    </div>

  </div>
  <script src='../js/parent.js'></script>
  <script src='../js/breakdown.js'></script>
{% endblock %}