<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Film Fox Scene Breakdown</title>
        <style>
            td,
            th {
                border: 2px solid black;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h3>Scene Breakdown</h3>
        <table style='width: 100%;'>
            <thead>
                <tr style='font-size: 150%; width="50%";'>
                    <th style='text-align: center; width="50%";'>{{outTitle}}</th>
                    <th>Scene #{{sceneNumber}}</th>
                </tr>
                <tr>
                    <th>{{slug}}</th>
                    <th></th>
                </tr>
                {% for i in range(0, breakdown.length) -%}
                    <tr>
                        <th>
                            {{breakdown}}
                        </th>
                        <td></td>
                    </tr>
                {% endfor %}
            </thead>
        </table>
    </body>
</html>