{% extends "parent.njk" %}
{% block page %}
  <div class='row top'>
    <div class='col-md-2'>
      {% if sceneNumber > 0 %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-first-scene'>
          First Scene
        </button>
      {% else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-first-scene' disabled="disabled">
          First Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if sceneNumber > 0 %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-previous-scene'>
          Previous Scene
        </button>
      {% else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-previous-scene' disabled="disabled">
          Previous Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if sceneNumber < highestScene %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-next-scene'>
          Next Scene
        </button>
      {%else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-next-scene' disabled="disabled">
          Next Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if sceneNumber < highestScene %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-last-scene'>
          Last Scene
        </button>
      {% else %}
        <button type='button' class='btn-prevnext btn-sm' id='btn-last-scene' disabled="disabled">
          Last Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      <button type='button' class='btn-navigate btn-sm' id='btn-start-again'>Start Again</button>
    </div>
    <div class='col-md-2'>
      <button type='button' class='btn-navigate btn-sm' id='btn-display-breakdown-sheet'>Display Breakdown Sheet</button>
    </div>
  </div>
  <!-- end of row 1 -->
  <div class='row top'>
    <p id='breakdown' hidden="hidden">{{breakdown}}</p>
    <div class='col-md-2' style='background: white; color:black; text-align: center;'>
      <b>ELEMENTS</b>
      <button type='button' class='btn-element' id='btn-cast' value='cast'>CAST MEMBERS</button>
      <button type='button' class='btn-element' id='btn-extras' value='extras'>EXTRAS</button>
      <button type='button' class='btn-element' id='btn-props' value='props'>PROPS</button>
      <button type='button' class='btn-element' id='btn-dressing' value='dressing'>SET DRESSING</button>
      <button type='button' class='btn-element' id='btn-costumes' value='costumes'>COSTUMES</button>
      <button type='button' class='btn-element' id='btn-makeup' value='makeup'>MAKEUP</button>
      <button type='button' class='btn-element' id='btn-vehicles' value='vehicles'>VEHICLES</button>
      <button type='button' class='btn-element' id='btn-stunts' value='stunts'>STUNTS</button>
      <button type='button' class='btn-element' id='btn-sfx' value='sfx'>SPECIAL EFFECTS</button>
      <button type='button' class='btn-element' id='btn-livestock' value='livestock'>LIVESTOCK</button>
      <button type='button' class='btn-element' id='btn-handler' value='handler'>ANIMAL HANDLER</button>
      <button type='button' class='btn-element' id='btn-music' value='music'>MUSIC</button>
      <button type='button' class='btn-element' id='btn-sounds' value='sounds'>SOUNDS</button>
      <button type='button' class='btn-remove-tag' id='btn-remove-tag'>Remove Tag</button>
      <br><br>
    </div>
    <div class='col-md-8 tableFixHead3' style='font-size: 75%;' id='scriptArea'>
      <p id='scene'>Scene
        {{sceneNumber}}</p>
      <p id='box'></p>
    </div>
    <div class='col-md-2 tableFixHead3' style='font-size:75%'>
      <br>
      <p class='cast'>
        Cast:
        {% for i in range(0, list.cast.length) -%}
          {{list.cast[i]}}
          {% if i < list.cast.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='extras'>
        Extras:
        {% for i in range(0, list.extras.length) -%}
          {{list.extras[i]}}
          {% if i < list.extras.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='props'>
        Props:
        {% for i in range(0, list.props.length) -%}
          {{list.props[i]}}
          {% if i < list.props.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='dressing'>
        Set Dressing:
        {% for i in range(0, list.dressing.length) -%}
          {{list.dressing[i]}}
          {% if i < list.dressing.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='costumes'>
        Costumes:
        {% for i in range(0, list.costumes.length) -%}
          {{list.costumes[i]}}
          {% if i < list.costumes.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='makeup'>
        Makeup:
        {% for i in range(0, list.makeup.length) -%}
          {{list.makeup[i]}}
          {% if i < list.makeup.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='vehicles'>
        Vehicles:
        {% for i in range(0, list.vehicles.length) -%}
          {{list.vehicles[i]}}
          {% if i < list.vehicles.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='stunts'>
        Stunts:
        {% for i in range(0, list.stunts.length) -%}
          {{list.stunts[i]}}
          {% if i < list.stunts.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='sfx'>
        Special Effects:
        {% for i in range(0, list.sfx.length) -%}
          {{list.sfx[i]}}
          {% if i < list.sfx.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='livestock'>
        Livestock:
        {% for i in range(0, list.livestock.length) -%}
          {{list.livestock[i]}}
          {% if i < list.livestock.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='handler'>
        Animal Handler:
        {% for i in range(0, list.handler.length) -%}
          {{list.handler[i]}}
          {% if i < list.handler.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='music'>
        Music:
        {% for i in range(0, list.music.length) -%}
          {{list.music[i]}}
          {% if i < list.music.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
      <p class='sounds'>
        Sounds:
        {% for i in range(0, list.sounds.length) -%}
          {{list.sound[i]}}
          {% if i < list.sounds.length - 1 %}
            &nbsp;-&nbsp;
          {% endif %}
        {% endfor %}
      </p>
    </div>
  </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/breakdown.js'></script>
{% endblock %}