{% extends "parent.njk" %}
{% block page %}
  <div class='row top' style='font-size: 90%;'>
    <div class='col-md-3 tableFixHead3'>
      <table id='table-categories'>
        <thead>
          <tr>
            <th>
              <input type="text" name="category" id='input-category' size='25' style='border: 0;'>
            </th>
            <th>
              <button type='button' class='btn-edit' id='btn-add-category' value=''>Add</button>
            </th>
          </tr>
          <tr><th></th></tr>
        </thead>
        <tbody>
          {% for i in range(0, categories.length) -%}
            <tr>
              <td>
                {{categories[i]}}
              </td>
              <td>
                <button type='button' class='btn-edit btn-delete-category' value='{{categories[i]}}'>Delete</button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='col-md-9 tableFixHead3'>
      {% for i in range(0, list.length) -%}
        <p class='scene-breakdown'>
          {{list[i][0]}}
          {% for j in range(1, list[i].length) -%}
            {% for k in range (0, list[i][j].length)%}
              {% if k === 0 %}
                {{list[i][j][k]}}:
              {% else %}
                {% if k < list[i][j].length - 1 %}
                  {{list[i][j][k]}},
                {% else %}
                  {{list[i][j][k]}}&nbsp;&nbsp;
                {% endif %}
              {% endif %}
            {% endfor %}
            ~&nbsp;
          {% endfor %}
        </p>
      {% endfor %}
    </div>
  </div>
  <script src='../js/parent.js'></script>
  <script src='../js/categories.js'></script>
{% endblock %}