{% extends "parent.njk" %}
{% block page %}
  <div class="row show">
    <table class="table-bordered table-sm table-dark table-grid" id="big">
      <tr>
        <td style='vertical-align:top;'>
          <table class="table-bordered table-sm table-dark table-grid" id="character_table">
            <thead>
              <tr>
                <th class="data-left" id="tab_ch_{{i}}">Character</th>
                <th class="data-left" id="tab_vce_{{i}}">Voice</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(0, characters.length) -%}
                <tr>
                  <td class="data-left" id="char_{{i}}">{{characters[i][0]}}</td>
                  <td class="data-left">
                    <select name="voices_{{i}}" id="voices_{{i}}">
                      {% for j in range(0, voice_data.length) -%}
                        {% if
                        characters[i][1] == voice_data[j][0] %}
                          <option value="{{voice_data[j][0]}}" selected="selected">
                            {{voice_data[j][0]}}
                          </option>
                        {% else %}
                          <option value="{{voice_data[j][0]}}">
                            {{voice_data[j][0]}}
                          </option>
                        {% endif %}
                      {%- endfor %}
                    </select>
                  </td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>
        </td>
        <td>
          <table class="table-bordered table-sm table-dark table-grid" id="voice_table">
            <thead>
              <tr>
                <th class="data-left" id="tab_voice_{{i}}">Voice</th>
                <th class="data-left" id="tab_description_{{i}}">
                  Description
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(1, voice_data.length) -%}
                <tr>
                  <td class="data-left" id="voice_data_{{i}}">
                    {{voice_data[i][0]}}
                  </td>
                  <td class="data-left" id="voice_description_{{i}}">
                    {{voice_data[i][1]}}
                  </td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<script src='../js/header.js'></script>
<script src='../js/character-to-voice.js'></script>
{% endblock %}