{% extends "parent.njk" %}
{% block page %}
  <div class='row tableFixHead' id='tabhead'>
    <table class="table-bordered table-sm table-dark table-grid" id="big">
      <tr>
        <td style='vertical-align:top;'>
          <table id="character_table">
            <thead>
              <tr>
                <th class='table-header' id="tab_ch_{{i}}">Character</th>
                <th class='table-header' id="tab_vce_{{i}}">Voice</th>
                <th>
                  <audio id='master-play' style='width: 100%;'>
                    <source src='' type='audio/mpeg'>
                  </audio>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(0, characters.length) -%}
                <tr>
                  <td class="table-data" id="char_{{i}}">{{characters[i][0]}}</td>
                  <td class="data-display">
                    <select name="voices_{{i}}" id="voices_{{i}}" style='background:black;'>
                      {% for j in range(0, voice_data.length) -%}
                        {% if
                        characters[i][1] == voice_data[j][0] %}
                          <option value="{{voice_data[j][0]}}" selected="selected">
                            {{voice_data[j][0]}}
                          </option>
                        {% else %}
                          <option value="{{voice_data[j][0]}}">
                            {{voice_data[j][0]}}
                          </option>
                        {% endif %}
                      {%- endfor %}
                    </select>
                  </td>
                  <td>
                    <button class='btn-edit btn-play-sample' value='{{characters[i][2]}}'>Sample</button>
                  </td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>
        </td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style='vertical-align:top;'>
          <table class="table-bordered table-sm table-dark table-grid" id="voice_table">
            <thead>
              <tr>
                <th class='table-header'>Voice</th>
                <th>
                  Description
                </th>
                <th>Gender</th>
                <th>
                  Accent
                </th>
                <th>Age</th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(1, voice_data.length) -%}
                <tr>
                  <td class="table-data" id="voice_data_{{i}}">
                    {{voice_data[i][0]}}
                  </td>
                  <td class="table-data" id="voice_description_{{i}}">
                    {{voice_data[i][3]}}
                  </td>
                  <td class="table-data" id="voice_gender_{{i}}">
                    {{voice_data[i][4]}}
                  </td>
                  <td class="table-data" id="voice_accent_{{i}}">
                    {{voice_data[i][5]}}
                  </td>
                  <td class="table-data" id="voice_age_{{i}}">
                    {{voice_data[i][6]}}
                  </td>
                  <td>
                    <button class='btn-edit btn-play-sample' value='{{voice_data[i][2]}}'>Sample</button>
                  </td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/character-to-voice.js'></script>
{% endblock %}