{% extends "parent.njk" %}
{% block page %}
  <div class='row top'>
    <p hidden="hidden" id='highest'>{{highest}}</p>
    <div class='col-md-1'>
      Note:
    </div>
    <div class='col-md-11' style='font-size: 80%;'>
      <input type="text" id="input-note" name="note" size='130' value='{{note}}'>
    </div>
  </div>

  <div class='row top'>
    <div class="col-md-2" style='font-size:75%;'>
      <button type='button' class='btn btn-prevnext btn-block btn-sm' id='btn-add-character'>
        Add Character
      </button>
      <table id='table-characters' hidden="hidden">
        <tbody>
          {% for i in range(0, characters.length, 4) -%}
            <tr>
              {% for num in range(0,4) -%}
                {% if characters[i + num] %}
                  <td>
                    <button type='button' class='btn btn-prevnext btn-block btn-sm btn-add-char' value="{{characters[i+num]}}">
                      {{characters[i + num]}}
                    </button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class='col-md-10' style='font-size:75%;'>
      {% for i in range(0, characterList.length) -%}
        {% if i < (characterList.length - 1) %}
          {{characterList[i]}}
          --
        {%else %}
          {{characterList[i]}}
        {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class='row top'>
    <div class='col-md-1 hidden'>
      <audio id='master-play' style='width: 100%;'>
        <source src='' type='audio/mpeg'>
      </audio>
    </div>
    <div class='col-md-2'>
      {% if sceneNumber > 0 %}
        <button type='button' class='btn btn-prevnext btn-block btn-sm' id='btn-previous' value='{{scene[0].scene}}'>
          Previous Scene
        </button>
      {% else %}
        <button type='button' class='btn btn-prevnext btn-block btn-sm' id='btn-previous' value='{{scene[0].scene}}' disabled="disabled">
          Previous Scene
        </button>
      {% endif %}
    </div>
    <div class='col-md-4' style='font-size: 80%;'>
      Scene
      {{sceneNumber}}:
      {{scene[0].dialogue}}
    </div>
    <div class='col-md-4'></div>
    <div class='col-md-2'>
      {% if sceneNumber < highest - 1 %}
        <button type='button' class='btn btn-prevnext btn-block btn-sm' id='btn-next' value='{{scene[0].scene}}'>
          Next Scene
        </button>
      {% else %}
        <button type='button' class='btn btn-prevnext btn-block btn-sm' id='btn-next' value='{{scene[0].scene}}' disabled="disabled">
          Next Scene
        </button>
      {% endif %}
    </div>
  </div>

  <div class='row tableFixHead2' id='tabhead'>
    <div class='col-md-12'>
      <table id='script-table'>
        <tbody id='bod'>
          {% for i in range(0, scene.length) -%}
            <tr id='row_{{i}}' class='display-box'>
              <td class='table-data' style='width: 15%;'>
                Character:
                {{scene[i].character}}
                <br><br>
                Voice:<p id='voice_{{i}}'>{{scene[i].voice}}</p>
              </td>
              <td class='table-data' style='width:50%;'>{{scene[i].dialogue}}</td>
              <td class='table-data card' style='width: 20%' id='crd_{{i}}'>
                <br>
                {% if scene[i].type === 'movie' %}
                  <video width='160' height='90' controls='controls' autoplay='autoplay' id='img_{{i}}' class='img' muted='muted'>
                    <source src='../data/{{title}}/images/{{scene[i].image}}' type='video/mp4'>
                  </video>
                {% else %}
                  <img width='160' height='90' src='../data/{{title}}/images/{{scene[i].image}}' id='img_{{i}}' class='img' alt='{{scene[i].image}}'>
                {% endif %}
                <p style='font-size: 80%; color: white;'>
                  {{scene[i].image.substring(0,28)}}
                </p>
              </td>
              <td class='table-data'>
                {% if (scene[i].voice == '-') or (scene[i].sound) %}
                  <button type='button' class='btn btn-edit btn-block btn-sm btn-play' id='play_{{i}}' value='{{scene[i].sound}}'>
                    Play
                    {{scene[i].sound}}
                  </button>
                  <br>
                  <button class='btn btn-block btn-edit btn-sm btn-small btn-del' id='del_{{i}}' value='{{scene[i].sound}}'>
                    Delete
                    {{scene[i].sound}}
                  </button>
                {% else %}
                  <button type='button' class='btn btn-edit btn-block btn-sm btn-gen' id='gen_{{i}}' value='{{i}}' caller='{{display}}'>
                    Generate Sound
                  </button>
                {% endif %}
                <br><br>
                <button type='button' class='btn btn-edit btn-block btn-sm btn-change' id='change_{{i}}' value='{{i}}'>
                  Change Image
                </button>
              </td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/display.js'></script>
{% endblock %}