<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>FilmFox</title>
    <link rel='stylesheet' href='../css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class='container-fluid'>

      <div class='row top'>
        <div class='col-md-2'>
          Film Fox
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-6' id='title'>
          {{ title }}
        </div>
        <div class='col-md-1' hidden="hidden">
          <p id='ptr'>{{ptr}}</p>
          <p id='length'>{{script.length}}</p>
        </div>
      </div>

      <div class='row top'>
        <div class='col-md-1'>
          <button class='btn btn-block btn-edit btn-sm' id='front'>
            Front
          </button>
        </div>
        <div class='col-md-1'>
          <button class='btn btn-block btn-edit btn-sm' id='ctv'>
            Voice Map&nbsp;&nbsp;
          </button>
        </div>
        <div class='col-md-1'>
          <button class='btn btn-block btn-edit btn-sm' id='btn-srt'>SRT</button>
        </div>
        <div class='col-md-1'>
          <button class='btn btn-block btn-edit btn-sm' id='btn-build-showreel'>Showreel</button>
        </div>
        <div class='col-md-2'>
          {% if headersOnly == 'yes' %}
            <button class='btn btn-block btn-edit btn-sm' id='btn-headers'>Show All</button>
          {% else %}
            <button class='btn btn-block btn-edit btn-sm' id='btn-headers'>Show Headers Only</button>
          {% endif %}
        </div>
        <div class='col-md-2'>
          <button class='btn btn-block btn-edit btn-sm' id='btn-merge'>Sound Merge</button>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-12 well'>
          <table class='table-bordered table-sm table-dark table-grid table-scroll' id='script-table'>
            <tbody>
              <tr>
                <th class='data-display'></th>
                <th class='data-display'>Character</th>
                <th class='data-display'>Voice</th>
                <th class='data-display' colspan='3'>Dialogue</th>
                <th class='sound-display'>Sound</th>
                <th>
                  <button class='btn btn-block btn-edit btn-sm' id='btn-sound-lock'>Unlock</button>
                </th>
                <th class='data-display' colspan='2'>Card</th>
              </tr>
              {% for i in range(0, script.length) -%}
                {% if script[i] %}
                  {% if headers[i] == 'yes' %}
                    <tr id='row_{{i}}'>
                      <td class='data-right'>Scene
                        {{script[i][2]}}
                        <br>Element
                        {{i}}
                      </td>
                      <td class='data-display'>{{script[i][0]}}</td>
                      <td class='data-display'>{{script[i][3]}}</td>
                      <td class='data-display' colspan='3'>{{script[i][1]}}</td>

                      <td class='sound-display' id='sound-data'>{{script[i][4]}}</td>

                      <td class='sound-display'>
                        {% if (script[i][3] == '-') or (script[i][4]) %}
                          <button type='button' class='btn btn-edit btn-block btn-sm btn-play' id="play_{{i}}" value='{{script[i][4]}}'>
                            Play
                          </button>
                        {% else %}
                          <button type='button' class='btn btn-edit btn-block btn-sm btn-gen' id='gen_{{i}}'>
                            Gen
                          </button>
                        {% endif %}
                        <br>
                        <button class='btn btn-block btn-edit btn-sm btn-small btn-del' id='del_{{i}}' disabled="disabled" value={{script[i][4]}}>
                          Delete
                        </button>
                      </td>

                      <td class='data-display card' colspan='2' id="crd_{{i}}">
                        {% if images[i][1] === 'movie' %}
                          <video width="160" height="90" controls="controls" autoplay="autoplay" id="img_{{i}}" class="img" muted="muted">
                            <source src="../data/{{title}}/images/{{images[i][0]}}" type="video/mp4">
                          </video>
                        {% else %}
                          <img width="160" height="90" src="../data/{{title}}/images/{{images[i][0]}}" id="img_{{i}}" class="img" alt="{{images[i][0]}}"/>
                        {% endif %}
                        <button type='button' class='btn btn-edit btn-block btn-sm btn-change' id="change_{{i}}" value='{{i}}'>
                          Change
                        </button>
                      </td>
                    </tr>
                  {% endif %}
                {% endif %}
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      $('#front').on('click', () => {
        window.location.href = `/`
      }),
      $('#ctv').on('click', () => {
        const f = $('#title')[0].innerText
        let ptr = $('#ptr')[0].innerText
        window.location.href = `/ctv?filmFoxFile=${f}&ptr=${ptr}`
      }),
      $('.btn-gen').on('click', (e) => {
        const num = e
          .target
          .id
          .substring(4)
        let title = $('#title')[0].innerText
        const ptr = $('#ptr')[0].innerText
        window.location.href = `/generate-single?title=${title}&element=${num}&ptr=${ptr}`
      }),
      $('.btn-play').on('click', (e) => {
        const title = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        element = `${e.target.value}.mp3`;
        window.location.href = `/play?title=${title}&element=${element}&ptr=${ptr}&sub=sounds`
      }),
      $('.btn-del').on('click', (e) => {
        const num = e
          .target
          .id
          .substring(4);
        const title = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        const element = `${e.target.value}.mp3`;
        window.location.href = `/delete?title=${title}&element=${element}&ptr=${ptr}&sub=sounds&num=${num}`;
      }),
      $('#btn-srt').on('click', () => {
        const f = $('#title')[0].innerText
        let ptr = $('#ptr')[0].innerText
        window.location.href = `/srt?title=${f}&ptr=${ptr}`
      }),
      $('#btn-build-showreel').on('click', () => {
        const f = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        window.location.href = `/build-showreel?title=${f}&ptr=${ptr}`;
      }),
      $('#btn-merge').on('click', () => {
        const f = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        window.location.href = `/merge?title=${f}&ptr=${ptr}`;
      }),
      $('#btn-headers').on('click', () => {
        const f = $('#title')[0].innerText;
        let ptr = $('#ptr')[0].innerText;
        let headersOnly = 'no';
        if ($('#btn-headers')[0].innerText === 'Show Headers Only') {
          headersOnly = 'yes'
        };

        window.location.href = `/display?title=${f}&ptr=${ptr}&num=0&headersOnly=${headersOnly}`
      }),
      $('.btn-change').on('click', (e) => {
        const f = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        const element = e.target.value;
        let h = 'no';
        if ($('#btn-headers')[0].innerText === 'Show All') 
          h = 'yes';
        window.location.href = `/gallery?title=${f}&ptr=${ptr}&element=${element}&headersOnly=${h}`
      }),
      $('#btn-sound-lock').on('click', () => {
        const l = $('#length')[0].innerText;
        if ($('#btn-sound-lock')[0].innerText === 'Lock') {
          $('#btn-sound-lock')[0].innerText = 'Unlock';
          for (let i = 0; i < l; i++) {
            $(`#del_${i}`).attr("disabled", true)
          }
        } else {
          $('#btn-sound-lock')[0].innerText = 'Lock';
          for (let i = 0; i < l; i++) {
            $(`#del_${i}`).attr("disabled", false)
          }
        };
      })
    </script>
  </body>
</html>