{% extends "parent.njk" %}
{% block page %}
  <div class='row show'>
    <div class='col-md-12'>
      <audio id='master-play' controls="controls">
        <source src='' type="audio/mpeg">
      </audio>
      <table class='table-bordered table-sm table-dark table-grid' id='tab-char'>
        <tbody>
          <tr>
            <td></td>
            <td class='data-char'>
              <h3>{{character}}</h3>
              <td>
                <td></td>
              </tr>
              {% for i in range(0, elements.length) -%}
                <tr>
                  <td class='data-char'>Scene:
                    {{elements[i].scene}}
                  </td>
                  <td class='data-char'>
                    {{elements[i].dialogue}}
                  </td>
                  <td class='data-right'>
                    <button type='button' class='btn btn-edit btn-block btn-sm btn-play' value='{{elements[i].sound}}'>
                      {{elements[i].sound}}
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script src='../js/edit-character.js'></script>
    </div>
  {% endblock %}