<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>FilmFox</title>
    <link rel='stylesheet' href='../css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
  </head>
  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-2'>
          <h4>Film Fox</h4>
        </div>
        <div class='col-md-6'>
          <h6>Current API Key =
            {{api_key}}</h6>
          Update .env file to add or change the key
        </div>
        <div class='col-md-2'>
          <br>
          <button class='btn btn-block btn-edit btn-sm' id='btn-voices'>
            Voices
          </button>
        </div>
      </div>
      <div class='row show2'>
        <div class='col-md-3 show'>
          <p>
            <b>Converted scripts. Click to display.</b>
          </p>
          {% for i in range(0, fffList.length) -%}
            <div class='row show'>
              <button type='button' class='btn btn-edit btn-block btn-sm btn-fff' value='{{fffList[i]}}'>
                {{fffList[i].substring(0,40)}}
              </button>
            </div>
          {%- endfor %}
        </div>

        <div class='col-md-1'></div>

        <div class='col-md-3' id='sub-show'>
          <p>
            <h4>Subscription Details.</h4>
          </p>
          <div class='row'>
            {% if subscription !== '' %}
              <table class='table-bordered table-sm table-dark table-grid' id='subscription_table'>
                <tbody>
                  <tr>
                    <th class='data-left'>Tier</th>
                    <td class='data-left'>{{subscription.tier.toUpperCase()}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Character Count</th>
                    <td class='data-left'>{{subscription.character_count}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Character Limit</th>
                    <td class='data-left'>{{subscription.character_limit}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Characters Left</th>
                    <td class='data-left'>{{subscription.character_limit - subscription.character_count}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Can Extend Character Limit</th>
                    <td class='data-left'>
                      {{subscription.can_extend_character_limit}}
                    </td>
                  </tr>
                  <tr>
                    <th class='data-left'>Allowed to Extend Character Limit</th>
                    <td class='data-left'>
                      {{subscription.allowed_to_extend_character_limit}}
                    </td>
                  </tr>
                  <tr>
                    <th class='data-left'>Next Character Count Reset</th>
                    <td class='data-left'>
                      {{subscription.next_character_count_reset}}
                    </td>
                  </tr>
                  <tr>
                    <th class='data-left'>Voice Limit</th>
                    <td>{{subscription.voice_limit}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Professional Voice Limit</th>
                    <td>{{subscription.professional_voice_limit}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Currency</th>
                    {% if subscription.currency %}
                      <td>{{subscription.currency.toUpperCase()}}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                  </tr>
                  <tr>
                    <th class='data-left'>Status</th>
                    <td>{{subscription.status.toUpperCase()}}</td>
                  </tr>
                  <tr>
                    <th class='data-left'>Next Payment Due On</th>
                    <td>
                      {{subscription.next_invoice.next_payment_attempt}}
                    </td>
                  </tr>
                  <tr>
                    <th class='data-left'>Amount Due</th>
                    {% if subscription.next_invoice %}
                      <td>${{subscription.next_invoice.amount_due_cents / 100}}</td>
                    {% else %}
                      <td></td>
                    {% endif %}
                  </tr>
                </tbody>
              </table>
            {% else %}
              <br>
              <p>&nbsp; Unable to retrieve subscription details</p>
            {% endif %}
          </div>
        </div>

        <div class='col-md-1'></div>

        <div class='col-md-3 show2'>
          <p>
            <b>Raw Final Draft Scripts. Click to create Film Fox File.</b>
          </p>
          {% for i in range(0, fdxList.length) -%}
            <div class='row show2'>
              <button type='button' class='btn btn-edit btn-block btn-sm btn-fdx' value='{{fdxList[i]}}'>
                {{fdxList[i].substring(0,40)}}
              </button>
            </div>
          {%- endfor %}
        </div>
      </div>
    </div>
    <script src='../js/front.js'></script>
  </body>
</html>