<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FilmFox</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <h1>FilmFox</h1>
        </div>
        <div class="col-md-10">
          <h3>Current API Key = {{api_key}}</h3>
          Update .env file to add or change the key
        </div>
      </div>
      <div class="row show">
        <div class="col-md-6 show">
          <p>Converted scripts. Click to display.</p>
          {% for i in range(0, fffList.length, 3) -%}
          <div class="row show">
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-edit btn-block btn-sm btn-fff"
              >
                {{fffList[i]}}
              </button>
            </div>
            {% if (i + 1) < fffList.length %}
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-edit btn-block btn-sm btn-fff"
              >
                {{fffList[i + 1]}}
              </button>
            </div>
            {% endif %} {% if (i + 2) < fffList.length %}
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-edit btn-block btn-sm btn-fff"
              >
                {{fffList[i + 2]}}
              </button>
            </div>
            {% endif %}
          </div>
          {%- endfor %}
        </div>
        <div class="col-md-6 show2">
          <p>Raw Final Draft Scripts. Click to create Film Fox File.</p>
          {% for i in range(0, fdxList.length, 3) -%}
          <div class="row show2">
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-edit btn-block btn-sm btn-fdx"
              >
                {{fdxList[i]}}
              </button>
            </div>
            {% if (i + 1) < fffList.length %}
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-edit btn-block btn-sm btn-fdx"
              >
                {{fdxList[i + 1]}}
              </button>
            </div>
            {% endif %} 
            {% if (i + 2) < fffList.length %}
            <div class="col-md-3">
              <button
                type="button"
                class="btn btn-edit btn-block btn-sm btn-fdx"
              >
                {{fdxList[i + 2]}}
              </button>
            </div>
            {% endif %}
          </div>
          {%- endfor %}
        </div>
      </div>
    </div>
    <script>
      $("#convert").on("click", () => {
        let s = $("#script").val().substring(12)
        if (s !== "") {
          window.location.href = `/convert?script=${s}`
        }
      }),
        $("#display").on("click", () => {
          let f = $("#fff").val().substring(12);
          if (f !== "") {
            window.location.href = `/display?filmFoxFile=${f}&ptr=0`
          }
        }),
        $(".btn-fff").on("click", (e) => {
          let f = e.target.textContent.trim()
          window.location.href = `/display?filmFoxFile=${f}&ptr=0`
        }),
        $(".btn-fdx").on("click", (e) => {
          let s = e.target.textContent.trim()
          window.location.href = `/convert?script=${s}`
        })
    </script>
  </body>
</html>
