<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>FilmFox</title>
    <link rel='stylesheet' href='../css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-2'>
          <h4>Film Fox</h4>
        </div>
        <div class='col-md-1' hidden="hidden">
          <p id='ptr'>{{ptr}}</p>
          <p id='img'>{{img}}</p>
          <p id='caller'>{{caller}}</p>
        </div>
        <div class='col-md-3 data-right' id='title'>
          <h5>{{ title }}</h5>
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-4'>
          <button type='button' class='btn btn-edit btn-block btn-sm' onclick="history.back()">Go Back</button>
        </div>
      </div>
      <div class='row show'>
        <div class='col-md-6'>
          <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
            <tbody>
              {% for i in range(0, unused.length, 3) -%}
                <tr>
                  <td class='data-left'>
                    {% if unused[i][1] === 'movie' %}
                      <video width="160" height="90" controls="controls" autoplay="autoplay" muted="muted" id="img_{{i}}" class="img">
                        <source src="../data/{{title}}/images/{{unused[i][0]}}" type="video/mp4">
                      </video>
                    {% else %}
                      <img width="160" height="90" src="../data/{{title}}/images/{{unused[i][0]}}" id="img_{{i}}" class="img" alt="unused[i][0]"/>
                    {% endif %}
                    <button type='button' class='btn btn-edit btn-block btn-sm btn-select' value="{{unused[i][0]}}">
                      Select
                    </button>
                  </td>

                  {% if unused[i + 1][0] %}
                    <td class='data-left'>
                      {% if unused[i + 1][1] === 'movie' %}
                        <video width="160" height="90" controls="controls" autoplay="autoplay" id="img_{{i + 1}}" class="img" muted="muted">
                          <source src="../data/{{title}}/images/{{used[i +1][0]}}" type="video/mp4">
                        </video>
                      {% else %}
                        <img width="160" height="90" src="../data/{{title}}/images/{{unused[i + 1][0]}}" id="img_{{i + 1}}" class="img" alt="unused[i +1][0]"/>
                      {% endif %}
                      <button type='button' class='btn btn-edit btn-block btn-sm btn-select' value="{{unused[i + 1][0]}}">
                        Select
                      </button>
                    </td>
                  {% endif %}

                  {% if unused[i + 2][0] %}
                    <td class='data-left'>
                      {% if unused[i + 2][1] === 'movie' %}
                        <video width="160" height="90" controls="controls" autoplay="autoplay" id="img_{{i + 2}}" class="img" muted="muted">
                          <source src="../data/{{title}}/images/{{unused[i +2][0]}}" type="video/mp4">
                        </video>
                      {% else %}
                        <img width="160" height="90" src="../data/{{title}}/images/{{unused[i + 2][0]}}" id="img_{{i + 2}}" class="img" alt="unused[i +2][0]"/>
                      {% endif %}
                      <button type='button' class='btn btn-edit btn-block btn-sm btn-select' value="{{unused[i + 2][0]}}">
                        Select
                      </button>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class='col-md-6'>
          <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
            <tbody>
              {% for i in range(0, used.length, 3) -%}
                <tr>
                  <td class='data-left'>
                    {% if used[i][1] === 'movie' %}
                      <video width="160" height="90" controls="controls" autoplay="autoplay" muted="muted" id="img_{{i}}" class="img">
                        <source src="../data/{{title}}/images/{{used[i][0]}}" type="video/mp4">
                      </video>
                    {% else %}
                      <img width="160" height="90" src="../data/{{title}}/images/{{used[i][0]}}" id="img_{{i}}" class="img" alt="used[i][0]"/>
                    {% endif %}
                    <button type='button' class='btn btn-edit btn-block btn-sm btn-select' value="{{used[i][0]}}">
                      Select
                    </button>
                  </td>

                  {% if used[i + 1][0] %}
                    <td class='data-left'>
                      {% if used[i + 1][1] === 'movie' %}
                        <video width="160" height="90" controls="controls" autoplay="autoplay" id="img_{{i + 1}}" class="img" muted="muted">
                          <source src="../data/{{title}}/images/{{used[i +1][0]}}" type="video/mp4">
                        </video>
                      {% else %}
                        <img width="160" height="90" src="../data/{{title}}/images/{{used[i + 1][0]}}" id="img_{{i + 1}}" class="img" alt="used[i +1][0]"/>
                      {% endif %}
                      <button type='button' class='btn btn-edit btn-block btn-sm btn-select' value="{{used[i + 1][0]}}">
                        Select
                      </button>
                    </td>
                  {% endif %}

                  {% if used[i + 2][0] %}
                    <td class='data-left'>
                      {% if used[i + 2][1] === 'movie' %}
                        <video width="160" height="90" controls="controls" autoplay="autoplay" id="img_{{i + 2}}" class="img" muted="muted">
                          <source src="../data/{{title}}/images/{{used[i +2][0]}}" type="video/mp4">
                        </video>
                      {% else %}
                        <img width="160" height="90" src="../data/{{title}}/images/{{used[i + 2][0]}}" id="img_{{i + 2}}" class="img" alt="used[i +2][0]"/>
                      {% endif %}
                      <button type='button' class='btn btn-edit btn-block btn-sm btn-select' value="{{used[i + 2][0]}}">
                        Select
                      </button>
                    </td>
                  {% endif %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      $('.imcg').on('click', (e) => {
        const f = $('#title')[0].innerText
        const ptr = $('#ptr')[0].innerText
        const i = $('#img')[0].innerText;

        const source = e
          .target
          .src
          .substring(e.target.src.lastIndexOf('/') + 1);

        window.location.href = `/update-image?title=${f}&ptr=${ptr}&img=${i}&src=${source}`
      }),
      $('.btn-select').on('click', (e) => {
        const source = e.target.value;
        const f = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText; 
        const i = $('#img')[0].innerText;
        const caller = $('#caller')[0].innerText;
          window.location.href = `/update-image-display?title=${f}&ptr=${ptr}&img=${i}&src=${source}&caller=${caller}`
      })
    </script>
  </body>
</html>