<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>FilmFox</title>
    <link rel='stylesheet' href='../css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-md-2'>
          <h4>Film Fox</h4>
        </div>
        <div class='col-md-1' hidden="hidden">
          <p id='ptr'>{{ptr}}</p>
        </div>
        <div class='col-md-3 data-right' id='title'>
          <h5>{{ title }}</h5>
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-4'>
          <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-back'>Go Back</button>
        </div>
      </div>

      <div class='row show'>
        <div class='col-md-12'>
          <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
            <tbody>
              {% for i in range(0, comp.length, 7) -%}
                <tr>
                  {% for num in range(0, 7) -%}
                    {% if i + num < comp.length %}
                      <td class='data-left'>
                        {% if merged[i + num] != 'yes' %}
                          <button type='button' class='btn btn-edit btn-block btn-sm btn-merge' id='btn-merge_{{i + num}}' value='{{i + num}}'>MERGE</button>
                        {% else %}
                          <button type='button' class='btn btn-edit btn-block btn-sm btn-delete' id='btn-delete_{{i + num}}' value='{{i + num}}'>DELETE</button>
                        {% endif %}
                      </td>
                      <td class='data-right' style='color: white;'>
                        {{i + num}}
                      </td>
                      <td class='padded'>
                        {% if merged[i + num] == 'yes' %}
                          <button type='button' class='btn btn-edit btn-block btn-sm btn-play' id="play_{{i + num}}" value='{{i + num}}'>
                            Play
                          </button>
                        {% endif %}
                      </td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    {% endif %}
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      $('#btn-back').on('click', () => {
        const title = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        window.location.href = `/display?title=${title}&ptr=${ptr}`;
      }),
      $('.btn-merge').on('click', (e) => {
        let scene = e.target.value;
        const title = $('#title')[0].innerText;
        window.location.href = `/concat?title=${title}&scene=${scene}`;
      }),
      $('.btn-play').on('click', (e) => {
        const title = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        let num = '000000' + e.target.value;
        num = num.substring(num.length - 5);
        element = `s${num}.mp3`;
        window.location.href = `/play?title=${title}&element=${element}&ptr=${ptr}&sub=scenes`;
      }),
      $('.btn-delete').on('click', (e) => {
        const title = $('#title')[0].innerText;
        const ptr = $('#ptr')[0].innerText;
        let num = '000000' + e.target.value;
        num = num.substring(num.length - 5);
        element = `s${num}.mp3`;
        window.location.href = `/delete?title=${title}&element=${element}&ptr=${ptr}&sub=scenes`;
      })
    </script>
  </body>
</html>