<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>FilmFox</title>
    <link rel='stylesheet' href='../css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row top'>
        <div class='col-md-2'>
          <h4>Film Fox</h4>
        </div>
        <div class='col-md-1' hidden="hidden">
          <p id='ptr'>{{ptr}}</p>
          <p id='size'>{{comp.length}}</p>
        </div>
        <div class='col-md-3 data-right' id='title'>
          <h5>{{ title }}</h5>
        </div>
        <div class='col-md-1'></div>
        <div class='col-md-2'>
          <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-back'>Go Back</button>
        </div>
        <div class='col-md-2'></div>
        <div class='col-md-2'>
          {% if ready == 'yes' %}
            <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-master'>Create/Update Master</button>
          {% endif %}
        </div>
      </div>

      <div class='row show'>
        <div class='col-md-12'>
          <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
            <tbody>
              <tr>
                <td colspan='8'>
                  {% if masterExists == 'yes' %}
                    <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-play-master'>Select Master</button>
                  {% endif %}
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan='4' style='padding: 0 8px;'>
                <h4 id='selected'></h4>
                </td>
                <td colspan='5'>
                  <audio id='master-play' controls="controls">
                    <source src='../data' type="audio/mpeg">
                  </audio>
                </td>
                <td></td>
                <td colspan='8'>
                  <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-enable'>Enable DELETE</button>
                </td>
              </tr>
              <tr>
                {% for i in range(0, comp.length, 6) -%}
                  <tr>
                    {% for num in range(0, 6) -%}
                      {% if i + num < comp.length %}
                        <td class='data-left'>
                          {% if merged[i + num] != 'yes' %}
                            <button type='button' class='btn btn-edit btn-block btn-sm btn-merge' id='btn-merge_{{i + num}}' value='{{i + num}}'>MERGE</button>
                          {% else %}
                            <button type='button' class='btn btn-edit btn-block btn-sm btn-delete' disabled="disabled" id='btn-delete_{{i + num}}' value='{{i + num}}'>DELETE</button>
                          {% endif %}
                        </td>
                        <td class='data-right' style='color: white;'>
                          {{i + num}}
                        </td>
                        <td class='padded'>
                          {% if merged[i + num] == 'yes' %}
                            <button type='button' class='btn btn-edit btn-block btn-sm btn-play' id="play_{{i + num}}" value='{{i + num}}'>
                              Select
                            </button>
                          {% endif %}
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                      {% endif %}
                    {% endfor %}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <script>
        $('#btn-back').on('click', () => {
          const title = $('#title')[0].innerText;
          const ptr = $('#ptr')[0].innerText;
          window.location.href = `/display?title=${title}&ptr=${ptr}`;
        }),
        $('.btn-merge').on('click', (e) => {
          let scene = e.target.value;
          const title = $('#title')[0].innerText;
          window.location.href = `/concat?title=${title}&scene=${scene}`;
        }),
        $('.btn-play').on('click', (e) => {
          const title = $('#title')[0].innerText;
          let num = '000000' + e.target.value;
          num = num.substring(num.length - 5);
          element = `s${num}.mp3`;
          s = '../data/' + title + '/scenes/' + element;
          $('#selected')[0].innerText = element;
          document
            .getElementById("master-play")
            .setAttribute('src', s);
        }),
        $('#btn-enable').on('click', (e) => {
          const l = $('#size')[0].innerText;
          if ($('#btn-enable')[0].innerText === 'Enable DELETE') {
            $('#btn-enable')[0].innerText = 'Disable DELETE';
            for (let i = 0; i < l; i++) {
              $(`#btn-delete_${i}`).attr("disabled", false)
            }
          } else {
            $('#btn-enable')[0].innerText = 'Enable DELETE';
            for (let i = 0; i < l; i++) {
              $(`#btn-delete_${i}`).attr("disabled", true)
            }
          }
        }),
        $('.btn-delete').on('click', (e) => {
          const title = $('#title')[0].innerText;
          const ptr = $('#ptr')[0].innerText;
          let num = '000000' + e.target.value;
          num = num.substring(num.length - 5);
          element = `s${num}.mp3`;
          window.location.href = `/delete?title=${title}&element=${element}&ptr=${ptr}&sub=scenes`;
        }),
        $('#btn-master').on('click', (e) => {
          const title = $('#title')[0].innerText;
          const ptr = $('#ptr')[0].innerText;
          const size = $('#size')[0].innerText;
          window.location.href = `/master?title=${title}&ptr=${ptr}&size=${size}`;
        }),
        $('#btn-play-master').on('click', (e) => {
          const title = $('#title')[0].innerText;
          s = '../data/' + title + '/scenes/master.mp3';
          $('#selected')[0].innerText = 'Master Sound File';
          document
            .getElementById("master-play")
            .setAttribute('src', s)
        })
      </script>
    </body>
  </html>