{% block header %}
  <!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='UTF-8'/>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
      <title>FilmFox</title>
      <link rel='stylesheet' href='../css/style.css'/>
      <link rel='stylesheet' href='../css/parent.css'/>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
    </head>
    <body>
      <div class='container-fluid'>
        <div class='row top' style='font-size: 70%;'>
          <div class='col-md-2'>
            Film Fox
          </div>
          <div class='col-md-1'></div>
          <div class='col-md-6' id='filmTitle'>
            {{ title }}
            <p id='length' hidden='hidden'>{{script.length}}</p>
            <p id='sceneNumber' hidden='hidden'>{{sceneNumber}}</p>
            <p id='elementNumber' hidden='hidden'>{{elementNumber}}</p>
            <p id='audio' hidden="hidden">{{audio}}</p>
            <p id='voice' hidden="hidden">{{voice}}</p>
            <p id='mute' hidden="hidden">{{mute}}</p>
            <p id='speak' hidden="hidden">{{speak}}</p>
          </div>
          <div class='col-md-3' style='text-align: right;'>{{page}}</div>
        </div>
        <div class='row top topnav' style='padding-bottom: 0; margin-bottom:0;'>
          <div class='col-md-1'></div>
          <div class='col-md-9'>
            <p id='nav-showreel'>Showreel</p>
            <p id='nav-ctv'>Voice Map</p>
            <p id='nav-sound'>Sound</p>
            <p id='nav-video'>Video</p>
            <p id='nav-characters'>Characters</p>
            <p id='nav-arranger'>Scene Arranger</p>
            <p id='nav-scene-shot-list'>Scene Shot List</p>
            <p id='nav-display-full'>Full Shot List</p>
            <p id='nav-sheets'>Sheets</p>
            <p id='nav-credits'>Credits</p>
          </div>
          <div class='col-md-1'></div>
          <div class='col-md-1'>
            <p id='nav-front'>Front</p>
          </div>
        </div>
      {% endblock %}
      {% block page %}{% endblock %}
      {% block footer %}
      </body>
    </html>
  {% endblock %}