{% block header %}
  <!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='UTF-8'/>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
      <title>FilmFox</title>
      <link rel='stylesheet' href='../css/style.css'/>
      <link rel='stylesheet' href='../css/parent.css'/>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
    </head>
    <body>
      <div class='container-fluid'>
        <div class='row top' style='font-size: 70%;'>
          <div class='col-md-2'>
            Film Fox
          </div>
          <div class='col-md-1'></div>
          <div class='col-md-6' id='filmTitle'>
            {{ title }}
            <p id='length' hidden='hidden'>{{script.length}}</p>
            <p id='sceneNumber' hidden='hidden'>{{sceneNumber}}</p>
            <p id='elementNumber' hidden='hidden'>{{elementNumber}}</p>
            <p id='audio' hidden="hidden">{{audio}}</p>
          </div>
          <div class='col-md-3' style='text-align: right';>{{page}}</div>
        </div>
        <div class='row top topnav' style='font-size: 75%;'>
          <section id='nav-front'>Front</section>
          <section id='nav-display'>Script Breakdown</section>
          <section id='nav-ctv'>Voice Map</section>
          <section id='nav-showreel'>Showreel</section>
          <section id='nav-sound'>Sound</section>
          <section id='nav-video'>Video</section>
          <section id='nav-scenes'>Scenes</section>
          <section id='nav-characters'>Characters</section>
          <section id='nav-arranger'>Scene Arranger</section>
          <section id='nav-scene-shot-list'>Scene Shot List</section>
          <section id='nav-display-full'>Full Shot List</section>
          <section id='nav-sheets'>Sheets</section>
          <section id='nav-credits'>Credits</section>
        </div>
      {% endblock %}
      {% block page %}{% endblock %}
      {% block footer %}
      </body>
    </html>
  {% endblock %}