{% block header %}
  <!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='UTF-8'/>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
      <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
      <title>FilmFox</title>
      <link rel='stylesheet' href='../css/style.css'/>
      <link rel='stylesheet' href='../css/parent.css'/>
      <link rel='stylesheet' href='../css/breakdown.css'/>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
      <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
    </head>
    <body>
      <div class='container-fluid'>
        <div class='row top' style='font-size: 70%;'>
          <div class='col-md-2'>
            Film Fox
          </div>
          <div class='col-md-1'></div>
          <div class='col-md-6' id='filmTitle'>
            {{ title }}
            <!-- Hidden properties for script details -->
            <p id='length' hidden='hidden'>{{script.length}}</p>
            <p id='sceneNumber' hidden='hidden'>{{sceneNumber}}</p>
            <p id='elementNumber' hidden='hidden'>{{elementNumber}}</p>
            <p id='highestScene' hidden='hidden'>{{highestScene}}</p>
            <!-- Additional hidden properties for various settings -->
            <p id='audio' hidden="hidden">{{audio}}</p>
            <p id='voice' hidden="hidden">{{voice}}</p>
            <p id='mute' hidden="hidden">{{mute}}</p>
            <p id='speak' hidden="hidden">{{speak}}</p>
            <p id='para' hidden="hidden">{{para}}</p>
            <p id='start' hidden="hidden">{{start}}</p>
            <p id='finish' hidden="hidden">{{finish}}</p>
            <p id='element' hidden="hidden">{{element}}</p>
            <p id='scr1' hidden="hidden">{{scr1}}</p>
          </div>
          <div class='col-md-3' style='text-align: right;'>{{page}}</div>
        </div>
        <div class='row top topnav' style='padding-bottom: 0; margin-bottom:0;'>
          <div class='col-md-11'>
            <!-- Navigation links for different sections -->
            <p id='nav-showreel'>Showreel</p>
            <p id='nav-sound'>Sound</p>
            <p id='nav-video'>Video</p>
            <p id='nav-ctv'>Voice Map</p>
            <p id='nav-characters'>Characters</p>
            <p id='nav-paperwork'>PAPERWORK</p>
          </div>
          <div class='col-md-1'>
            <p id='nav-front'>FRONT</p>
          </div>
        </div>
      {% endblock %}
      {% block page %}{% endblock %}
      {% block footer %}
      </body>
    </html>
  {% endblock %}
