{% extends "parent.njk" %}
{% block page %}
  <div class='row' style='background: silver; color: black;'>
    <div class='col-md-12'>
      <p id='current' hidden="hidden">{{current}}</p>
      <p id='size' hidden="hidden">{{size}}</p>
      <p id='title' hidden="hidden">{{title}}</p>
      <p id='sound' hidden="hidden">{{showreel[current].sound}}</p>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_showreal'>
        {% for i in range(0, showreel.length) -%}
          {% if i == current %}
            <tr>
              <table>
                <tr>
                  <td class='data-show' id='slug_{{i}}' style='width:20%; font-weight:bold;' colspan='3'>
                    {{showreel[i].slug}}
                  </td>
                </tr>
                <tr>
                  <td class='data-show' id='type_{{i}}' hidden="hidden">
                    {{showreel[i].type}}
                  </td>
                  <td class='data-show' id='image_{{i}}' style='width: 40%;'>
                    {% if showreel[i].type === 'movie' %}
                      <video width='480' height='270' controls='controls' autoplay='autoplay' id='iamge_{{i}}' class='iamge' muted='muted'>
                        <source src='../data/{{title}}/images/{{showreel[i].image}}' type='video/mp4'>
                      </video>
                    {% else %}
                      <img width='480' height='270' src='../data/{{title}}/images/{{showreel[i].image}}' id='iamge_{{i}}' class='img' alt='{{script[i].image}}'>
                    {% endif %}
                  </td>
                  <td class='data-showreel' style='width: 40%;'>
                    <p id='character_{{i}}' style='text-align: center; font-weight: bold;'>{{showreel[i].character}}</p>
                    <br>
                    {{showreel[i].dialogue}}
                  </td>
                  <td>
                    <table>
                      <tr>
                        <td>
                          {% if current > 0 %}
                            <button class='btn btn-block btn-edit btn-sm' id='btn-previous'>
                              PREVIOUS ELEMENT
                            </button>
                            {%else%}
                            <button class='btn btn-block btn-edit btn-sm' id='btn-previous' disabled>
                              PREVIOUS ELEMENT
                            </button>
                          {% endif %}
                        </td>
                        <td>
                          {% if current < showreel.length - 1 %}
                            <button class='btn btn-block btn-edit btn-sm' id='btn-next'>
                              NEXT ELEMENT
                            </button>
                            {% else %}
                             <button class='btn btn-block btn-edit btn-sm' id='btn-next' disabled>
                              NEXT ELEMENT
                            </button>
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td colspan='2'>
                          {% if mute == 'MUTE' %}
                            <audio id='master-play' controls="controls" style='width: 100%;'>
                              <source src="{{showreel[i].sound}}" type="audio/ogg"/>
                              <source src="{{showreel[i}.sound}}" type="audio/mpeg"/>
                              Your browser does not support the audio tag.
                            </audio>
                          {% else %}
                            <audio id='master-play' controls="controls" style='width: 100%;' muted="muted">
                              <source src="{{showreel[i].sound}}" type="audio/ogg"/>
                              <source src="{{showreel[i}.sound}}" type="audio/mpeg"/>
                              Your browser does not support the audio tag.
                            </audio>
                          {% endif %}
                        </td>
                      </tr>
                      <tr>
                        <td colspan='2'>
                          <button class='btn btn-block btn-edit btn-sm' id='btn-mute'>
                            {{mute}}
                          </button>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          {% if scene > 0 %}
                            <button class='btn btn-block btn-edit btn-sm' id='btn-previous-scene'>
                              PREVIOUS SCENE
                            </button>
                            {% else %}
                            <button class='btn btn-block btn-edit btn-sm' id='btn-previous-scene' disabled>
                              PREVIOUS SCENE
                            </button>
                          {% endif %}
                        </td>
                        <td>
                          {% if scene < highestscene %}
                            <button class='btn btn-block btn-edit btn-sm' id='btn-next-scene'>
                              NEXT SCENE
                            </button>
                            {%else %}
                             <button class='btn btn-block btn-edit btn-sm' id='btn-next-scene' disabled>
                              NEXT SCENE
                            </button>
                          {% endif %}
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </tr>
            <tr>
            <td>&nbsp;</td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/play-showreel.js'></script>
{% endblock %}