{% extends "parent.njk" %}
{% block page %}
  <div class='row tableFixHead' id='tabhead'>
    <div class='col-md-12'>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
        <tbody>
          {% for i in range(0, sceneList.length, 3) -%}
            <tr>
              {% for num in range(0, 3) -%}
                <td class='data-left' style='font-size:80%;' width='20%'>
                  {% if sceneList[i + num] %}
                    {{sceneList[i+num].slug}}
                    <br>
                    {% if sceneList[i + num].type === 'movie' %}
                      <video width="160" height="90" controls="controls" autoplay="autoplay" class="img" muted="muted">
                        <source src="../data/{{title}}/images/{{sceneList[i + num].image}}" type="video/mp4">
                      </video>
                    {% else %}
                      <img width="160" height="90" src="../data/{{title}}/images/{{sceneList[i + num].image}}" class="img" alt="sceneList[i + num][0]"/>
                    {% endif %}
                  {% endif %}
                </td>
                <td class='data-left' width='12%'>
                  {% if sceneList[i + num] %}
                    Scene
                    {{i + num}}
                    <br>
                    Element
                    {{sceneList[i + num].element}}
                  {% endif %}
                </td>
                <td class='sep'>&nbsp;</td>
              {% endfor %}
            </tr>

            <tr>
              {% for num in range(0, 3) -%}
                <td colspan='2'>
                  {{sceneList[i + num].note}}&nbsp;
                </td>
                <td class='sep'></td>
              {% endfor %}
            </tr>

            <tr>
              {% for num in range(0, 3) -%}

                <td colspan='2'>
                  {% if sceneList[i + num] %}
                    <button type='button' class='btn btn-edit btn-block btn-sm btn-edit-scene' value="{{i + num}}">
                      Edit Scene
                    </button>
                  {% endif %}
                </td>
                <td class='sep'>&nbsp;</td>
              {% endfor %}
            </tr>

            <tr>
              {% for num in range(0, 3) -%}
                <td colspan='2'>
                  {% if sceneList[i + num] %}
                    <button type='button' class='btn btn-edit btn-block btn-sm btn-edit-shot-list' value="{{i + num}}">
                      Edit Shot List
                    </button>
                  </td>
                {% endif %}
                <td class='sep'>&nbsp;</td>
              {% endfor %}
            </tr>

            <tr>
              {% for num in range(0, 3) -%}
                <td colspan='3' class='sep'>
                  &nbsp;
                </td>
              {% endfor %}
            </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script src='../js/header.js'></script>
  <script src='../js/scenes.js'></script>
</body>
{% endblock %}