{% extends "parent2.njk" %}
{% block page %}
  <div class='row top'>
    <div class='col-md-2'>
      {% if sheet > 0 %}
        <button class='btn btn-block btn-edit btn-sm' id='btn-previous'>Previous Sheet</button>
      {% else %}
        <button class='btn btn-block btn-edit btn-sm' id='btn-previous' disabled="disabled">Previous Sheet</button>
      {% endif %}
    </div>
    <div class='col-md-6'></div>
    <div class='col-md-2'>
      {% if sheet < size - 1 %}
        <button class='btn btn-block btn-edit btn-sm' id='btn-next'>Next Sheet</button>
      {% else %}
        <button class='btn btn-block btn-edit btn-sm' id='btn-next' disabled="disabled">Next Sheet</button>
      {% endif %}
    </div>
    <div class='col-md-2'>
      {% if exists == 'no' %}
        <button class='btn btn-block btn-edit btn-sm' id='btn-pdf'>Create PDF</button>
      {% else %}
        <button class='btn btn-block btn-edit btn-sm' id='btn-pdf'>Update PDF</button>
      {% endif %}
    </div>
  </div>
  <div class='row top' style='background: white;'>
    <p id='size' hidden="hidden">{{size}}</p>
    <p id='sheet' hidden="hidden">{{sheet}}</p>
    <div class='row tableFixHead' id='tabhead'>
      <div class='col-md-12'>
        <table id='table-header' style='background: white;'>
          <tbody>
            <tr>
              <td class='data-page'>Sheet
                {{sheet}}</td>
              {% if realTitle %}
                <td class='data-page' colspan='2'>{{realTitle}}</td>
              {% else %}
                <td class='data-page' colspan='2'>{{title}}</td>
              {% endif %}
            </tr>
            <tr>
              <td class='data-page' style='width=10%;' id='sceneNum'>Scene
                {{shotList[sheet].scene}}</td>
              <td class='data-page' style='width=40%;'>{{slugs[sheet]}}</td>
              <td class='data-page' style='width=50%;'>{{shotList[sheet].note}}</td>
            </tr>
          </body>
        </table>
        <br>
        <table id='table-shots' style='background: white;'>
          <tbody>
            <thead>
              <tr>
                <th class='data-page' style='width: 10%;'>Shot #</th>
                <th class='data-page' style='width: 10%;'>Shot</th>
                <th class='data-page' style='width: 10%;'>Angle</th>
                <th class='data-page' style='width: 10%;'>Audio</th>
                <th class='data-page' style='width: 20%;'>Subject</th>
                <th class='data-page' style='width: 35%;'>Description</th>
              </tr>
            </thead>
            <tbody>
              {% for line in range(0, shotList[sheet].lines.length) %}
                <tr>
                  <td class='data-page'>
                    {{line+1}}</td>
                  <td class='data-page'>
                    {{shotList[sheet].lines[line].shot}}
                  </td>
                  <td class='data-page'>
                    {{shotList[sheet].lines[line].angle}}
                  </td>
                  <td class='data-page'>
                    {{shotList[sheet].lines[line].audio}}
                  </td>
                  <td class='data-page'>
                    {{shotList[sheet].lines[line].subject}}
                  </td>
                  <td class='data-page'>
                    {{shotList[sheet].lines[line].description}}
                  </td>
                </tr>
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src='../js/parent.js'></script>
  <script src='../js/sheets.js'></script>
{% endblock %}