{% extends "parent.njk" %}
{% block page %}

  <div class='row top' style='font-size:75%;'>
    <div class="col-md-2">
      <button type='button' class='btn-prevnext' id='btn-add-character'>
        Add Character
      </button>
    </div>
    <div class='col-md-8'>
      {% for i in range(0, characterList.length) -%}
        {% if i < (characterList.length - 1) %}
          {{characterList[i]}}
          --
        {%else %}
          {{characterList[i]}}
        {% endif %}
      {% endfor %}
    </div>
    <div class='col-md-2'>
      <button type='button' class='btn-prevnext' id='btn-delete-character'>
        Delete Character
      </button>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <table id='table-characters' hidden="hidden">
        <tbody>
          {% for i in range(0, characters.length, 6) -%}
            <tr>
              {% for num in range(0,6) -%}
                {% if characters[i + num] %}
                  <td>
                    <button type='button' class='btn-deladd btn-add-char' value="{{characters[i+num]}}">
                      {{characters[i + num]}}
                    </button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <table id='table-characters-in-scene' hidden="hidden">
        <tbody>
          {% for i in range(0, characterList.length, 6) -%}
            <tr>
              {% for num in range(0,6) -%}
                {% if characterList[i + num] %}
                  <td>
                    <button type='button' class='btn-deladd btn-delete-char' value="{{characterList[i+num]}}">
                      {{characterList[i + num]}}
                    </button>
                  </td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class='row' style='background: silver; color: black;'>
    <p id='highestScene' hidden="hidden">{{highestScene}}</p>
    <p id='highestElement' hidden="hidden">{{highestElement}}</p>
    <div class='col-md-12'>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_showreal'>
        <tr>
          <table>
            <tr>
              <td class='data-show' id='slug' style='width:20%; font-weight:bold; border: red 8px solid; color: white;' colspan='3'>
                Scene
                {{sceneNumber}}:
                {{slug}}
              </td>
            </tr>
            <tr style='border: red 8px solid;'>
              <td class='data-show' id='type_{{i}}' hidden="hidden">
                {{element.type}}
              </td>
              <td class='data-show' id='image_{{i}}' style='width: 40%; border: red 8px solid;'>
                {% if element.type === 'movie' %}
                  <video width='480' height='270' controls='controls' autoplay='autoplay' id='iamge_{{i}}' class='iamge' muted='muted'>
                    <source src='../data/{{title}}/images/{{element.image}}' type='video/mp4'>
                  </video>
                {% elseif element.type === 'still' %}
                  <img width='480' height='270' src='../data/{{title}}/images/{{element.image}}' id='iamge_{{i}}' class='img' alt='{{script[i].image}}'>
                {% else %}
                  <h2>NO IMAGE</h2>
                {% endif %}
              </td>
              <td class='data-showreel' style='width: 40%; padding: 8px; border : red 8px solid;'>
                <p id='character_{{i}}' style='text-align: center; font-weight: bold;'>{{element.character}}</p>
                <br>
                {{element.dialogue}}
              </td>
              <td style='border : red 8px solid;'>
                <table>
                  <tr>
                    <td>
                      {% if sceneNumber > 0 %}
                        <button class='btn btn-block btn-prevnext btn-sm' id='btn-previous-element'>
                          PREVIOUS ELEMENT
                        </button>
                        {%else%}
                        <button class='btn btn-block btn-prevnext btn-sm' id='btn-previous-element' disabled="disabled">
                          PREVIOUS ELEMENT
                        </button>
                      {% endif %}
                    </td>
                    <td>
                      <button class='btn btn-block btn-prevnext btn-sm' id='btn-next-element'>
                        NEXT ELEMENT
                      </button>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      {% if audio %}
                        <button class='btn-edit btn-del' id='del_{{i}}' value='{{scene[i].sound}}'>
                          Delete
                          {{scene[i].sound}}
                        </button>
                      {% else %}
                        <button type='button' class='btn-edit btn-gen' id='gen_{{i}}' value='{{i}}' caller='{{display}}'>
                          Generate
                          {{scene[i].sound}}
                        </button>
                      {% endif %}
                    </td>
                  </tr>

                  <tr>
                    <td colspan='2'>
                      <br>
                      {% if element.sound %}
                        {% if mute == 'MUTE' %}
                          <audio id='master-play' controls="controls" style='width: 100%;'>
                            <source src="{{audio}}" type="audio/ogg"/>
                            <source src="{{audio}}" type="audio/mpeg"/>
                            Your browser does not support the audio tag.
                          </audio>
                        {% else %}
                          <audio id='master-play' controls="controls" style='width: 100%;' muted="muted">
                            <source src="{{audio}}" type="audio/ogg"/>
                            <source src="{{audio}}" type="audio/mpeg"/>
                            Your browser does not support the audio tag.
                          </audio>
                        {% endif %}
                      {% else %}
                        <h2>NO SOUND</h2>
                      {% endif %}
                      <br><br>
                    </td>
                  </tr>
                  <tr>
                    <td colspan='2'>
                      {% if element.sound %}
                        <button class='btn btn-block btn-edit btn-sm' id='btn-mute'>
                          {{mute}}
                        </button>
                      {% else %}
                        <p id='btn-mute' hidden="hidden">{{mute}}</p>
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {% if sceneNumber > 0 %}
                        <button class='btn btn-block btn-prevnext btn-sm' id='btn-previous-scene'>
                          PREVIOUS SCENE
                        </button>
                      {% else %}
                        <button class='btn btn-block btn-prevnext btn-sm' id='btn-previous-scene' disabled="disabled">
                          PREVIOUS SCENE
                        </button>
                      {% endif %}
                    </td>
                    <td>
                      {% if sceneNumber < highestScene %}
                        <button class='btn btn-block btn-prevnext btn-sm' id='btn-next-scene'>
                          NEXT SCENE
                        </button>
                      {%else %}
                        <button class='btn btn-block btn-prevnext btn-sm' id='btn-next-scene' disabled="disabled">
                          NEXT SCENE
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </tr>
        <tr>
          <td>
            <button type='button' class='btn-edit btn-change' id='change_{{i}}' value='{{i}}'>
              Change Image
            </button>
          </td>
        </tr>
      </table>
    </div>
    <div class='row'>
      <div class='col-md-12' style='font-size: 75%;'></div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-2' style='font-size: 75%;'>
      <br>
      SCENE:
      <span id="output">{{sceneNumber}}</span>
    </div>
    <div class='col-md-10'>
      <b>&nbsp;&nbsp;Note:</b>
      <input type="text" id="input-note" name="note" size='120' value='{{note}}'>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12 slidecontainer'>
      <input type="range" min="0" max="{{highestScene}}" value="{{sceneNumber}}" id='slider-scene'>
    </div>
  </div>

</div>
<script src='../js/parent.js'></script>
<script src='../js/showreel.js'></script>
{% endblock %}