{% extends "parent.njk" %}
{% block page %}
  <div class='row show'>
    <p id='size' hidden="hidden">{{comp.length}}</p>
    <div class='col-md-12'>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
        <tbody>
          <tr>
            <td>
              <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-master'>Create/Update Master</button>
            </td>
            <td colspan='3'>
              {% if masterExists == 'yes' %}
                <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-play-master'>Play Master</button>
              {% else %}
                <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-play-master' disabled="disabled">Play Master</button>
              {% endif %}
            </td>
            <td colspan='5'>
              <audio id='master-play' controls="controls">
                <source src='' type="audio/mpeg">
              </audio>
            </td>
            <td></td>
            <td colspan='4'>
              <button type='button' class='btn btn-edit btn-block btn-sm' id='btn-enable'>Enable DELETE</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
        <tbody>
          <tr>
            {% for i in range(0, comp.length, 6) -%}
              <tr>
                {% for num in range(0, 6) -%}
                  {% if i + num < comp.length %}
                    <td class='data-left'>
                      {% if merged[i + num] != 'yes' %}
                        <button type='button' class='btn btn-edit btn-block btn-sm btn-merge' id='btn-merge_{{i + num}}' value='{{i + num}}'>MERGE</button>
                      {% else %}
                        <button type='button' class='btn btn-edit btn-block btn-sm btn-delete' disabled="disabled" id='btn-delete_{{i + num}}' value='{{i + num}}'>DELETE</button>
                      {% endif %}
                    </td>
                    <td class='data-right' style='background: slateblue;'>
                      {{i + num}}
                    </td>
                    <td class='padded'>
                      {% if merged[i + num] == 'yes' %}
                        <button type='button' class='btn btn-edit btn-block btn-sm btn-play' id="play_{{i + num}}" value='{{i + num}}'>
                          Play
                        </button>
                      {% endif %}
                    </td>
                    <td colspan='2'>&nbsp;</td>
                  {% endif %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/sound.js'></script>
{% endblock %}