<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'/>
    <title>FilmFox</title>
    <link rel='stylesheet' href='../css/style.css'/>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'></script>
    <style>
      .tableFixHead {
        overflow-y: auto;
        height: 420px;
      }
      .tableFixHead thead th {
        position: sticky;
        top: 0;
      }
      table {
        border-collapse: collapse;
        width: 99%;
      }
      td,
      th {
        padding: 4px 8px;
        border: 1px solid #ccc;
      }
      th {
        background: #eee;
      }
      .head-display {
        border-style: solid;
        border-width: 0 0 5px 0;
        color: black;
        background: #eee;
      }
    </style>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='row top'>
        <div class='col-md-2'>
          <h4>Film Fox</h4>
        </div>
        <div class='col-md-3'>
          <audio id='master-play' controls="controls">
            <source src='' type="audio/mpeg">
          </audio>
        </div>
        <div class='col-md-3'></div>
        <div class='col-md-1'>
          <button class='btn btn-block btn-edit btn-sm' id='btn-front'>
            Front
          </button>
        </div>
      </div>
      <div class='row tableFixHead' id='tabhead'>
        <div class='col-md-12'>
          <table class='table-bordered table-sm table-dark table-grid' id='voice_table'>
            <thead>
              <tr>
                <th class='data-left'>Name</th>
                <th class='data-left'>Accent</th>
                <th class='data-left'>Description</th>
                <th class='data-left'>Age</th>
                <th class='data-left'>Gender</th>
                <th class='data-left'>ID</th>
                <th class='data-left'></th>
              </tr>
            </thead>
            <tbody>
              {% for i in range(1, vox.length) -%}
                <tr>
                  <td class='data-left'>{{vox[i].name}}</td>
                  <td class='data-left'>{{vox[i].accent | upper}}</td>
                  <td class='data-left'>{{vox[i].description | upper}}</td>
                  <td class='data-left'>{{vox[i].age | upper}}</td>
                  <td class='data-left id=' gender_{{i}}="gender_{{i}}" '>{{vox[i].gender | upper}}</td>
                  <td class='data-left' id='id_{{i}}'>{{vox[i].id}}</td>
                  <td class='data-left'>
                    {%if vox[i].generated == 'yes' %}
                      <button type='button' class='btn btn-edit btn-block btn-sm btn-play-sample' value='{{vox[i].id}}' id='btn-get-sample-ids_{{i}}'>Play Sample</button>
                    {% else %}
                      <button type='button' class='btn btn-edit btn-block btn-sm btn-get-sample' value='{{vox[i].id}}' id='btn-get-sample-ids_{{i}}'>Get Sample</button>
                    {% endif %}
                  </td>
                </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      $('#btn-front').on('click', () => {
        window.location.href = `/`
      }),
      $('.btn-get-sample').on('click', (e) => {
        window.location.href = `/get-samples?voice_id=${e.target.value}`;
      }),
      $('.btn-play-sample').on('click', (e) => {
        const element = e.target.value + '.mp3';
        const s = '../data/samples/' + element;
        document
          .getElementById("master-play")
          .setAttribute('src', s);
        document
          .getElementById("master-play")
          .play();
      })
    </script>
  </body>
</html>