<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metadata for character encoding, compatibility, and viewport settings -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Film Fox Front Page</title>
    <!-- Link to custom styles and Bootstrap CSS -->
    <link rel="stylesheet" href="../css/style.css"/>
    <link rel='stylesheet' href='../css/bootstrap.min.css'/>
    <!-- Include jQuery and Bootstrap JavaScript libraries -->
    <script src='../js/jquery-3.7.1.min.js'></script>
    <script src='..js/bootstrap.min.js'></script>
  </head>
<body>
  <div class="row top">
    <!-- Hidden element for storing and retrieving the scroll position -->
    <p id="scr1" hidden="hidden">{{ scr1 }}</p>
    <div class="col-md-2">
      <h4>Film Fox</h4>
    </div>
    <div class="col-md-3">
      <audio id="master-play" controls="controls">
        <source src="" type="audio/mpeg">
      </audio>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <!-- Button to return to the front page -->
      <button class="btn-big-red" id="btn-front">
        Return to Front Page
      </button>
    </div>
  </div>

  <div class="row tableFixHead3" id="tabhead">
    <div class="col-md-12">
      <table class="table-bordered table-sm table-dark table-grid" id="voice-table">
        <thead>
          <tr>
            <th class="data-left">Name</th>
            <th class="data-left">Accent</th>
            <th class="data-left">Description</th>
            <th class="data-left">Age</th>
            <th class="data-left">Gender</th>
            <th class="data-left">ID</th>
            <th class="data-left"></th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(1, vox.length) -%}
            <tr>
              <td class="data-left">{{ vox[i].name }}</td>
              <td class="data-left">{{ vox[i].accent | upper }}</td>
              <td class="data-left">{{ vox[i].description | upper }}</td>
              <td class="data-left">{{ vox[i].age | upper }}</td>
              <td class="data-left" id="gender_{{ i }}">{{ vox[i].gender | upper }}</td>
              <td class="data-left" id="id_{{ i }}">{{ vox[i].id }}</td>
              <td class="data-left">
                {% if vox[i].generated == 'yes' %}
                  <!-- Play Sample button for generated entries -->
                  <button type="button" class="btn-edit btn-block btn-sm btn-play-sample" value="{{ vox[i].id }}" id="btn-get-sample-ids_{{ i }}">Play Sample</button>
                {% else %}
                  <!-- Get Sample button for non-generated entries -->
                  <button type="button" class="btn-edit btn-block btn-sm btn-get-sample" value="{{ vox[i].id }}" id="btn-get-sample-ids_{{ i }}">Get Sample</button>
                {% endif %}
              </td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    $(() => {
      // Set the scroll position on page load
      $('#voice-table')[0].scrollTop = $('#scr1')[0].innerText;
    });

    // Event handler for 'Return to Front Page' button click
    $('#btn-front').on('click', () => {
      window.location.href = `/?caller=voices`;
    });

    // Event handler for 'Get Sample' button click
    $('.btn-get-sample').on('click', (e) => {
      const scr1 = $('#voice-table')[0].scrollTop;
      // Redirect to get-samples page with parameters
      window.location.href = `/get-samples?voice_id=${ e.target.value }&scr1=${ scr1 }`;
    });

    // Event handler for 'Play Sample' button click
    $('.btn-play-sample').on('click', (e) => {
      const element = e.target.value + '.mp3';
      const audioSource = '../data/samples/' + element;
      // Set audio source and play the audio
      document.getElementById("master-play").setAttribute('src', audioSource);
      document.getElementById("master-play").play();
    });
  </script>
</body>
</html>
