{% extends "showreel/parent.njk" %}
{% block page %}

    <div class='row top'>
        <!-- Hidden data elements -->
        <p id='audioLength' hidden='hidden'>{{audioLength}}</p>
        <p id='type_{{i}}' hidden='hidden'>{{element.type}}</p>
        <p id='highestElement' hidden='hidden'>{{highestElement}}</p>
        <p id='highestScene' hidden='hidden'>{{highestScene}}</p>
        <p id='elementNumber' hidden='hidden'>{{elementNumber}}</p>
        <p id='sceneNumber' hidden='hidden'>{{sceneNumber}}</p>
        <p id='filmTitle' hidden='hidden'>{{title}}</p>
    </div>

    <div class='row' style='background: silver; color: black;'>
        <div class='col-md-12'>
            <table class='table-bordered table-sm table-dark table-grid' id='tab_showreal'>
                <tr style='border: white 4px solid;'>
                    <!-- Showreel video/image content -->
                    <td class='data-showreel' id='image_{{i}}' style='border: white 4px solid;'>
                        {% if element.type === 'movie' %}
                            <video width='634' height='506' controls='controls' autoplay='autoplay' id='image_{{i}}' class='image' muted='muted'>
                                <source src='../data/{{title}}/vision/images/{{element.image}}' type='video/mp4'>
                            </video>
                        {% elseif element.type === 'still' %}
                            <img width='634' height='506' src='../data/{{title}}/vision/images/{{element.image}}' id='image_{{i}}' class='img' alt='{{script[i].image}}'>
                        {% else %}
                            <h2 class='data-showreel'>NO IMAGE</h2>
                        {% endif %}
                    </td>

                    <!-- Showreel character/dialogue content -->
                    <td class='data-showreel' style='width: 30%; padding: 4px; border : white 4px solid;' colspan='2'>
                        <div class='-showreel-box' style='font-size: 125%; color: white;'>
                            {% if element.character === 'NARRATOR'%}
                                <p style='text-align: center; font-weight: bold;'></p>
                                <p style='color: white;'>{{element.dialogue}}</p>
                            {% else %}
                                <p style='text-align: center; font-weight: bold;'>{{element.character}}</p>
                                {% if element.parenthetical %}
                                    <p style='text-align: center;'>({{element.parenthetical}})</p>
                                {% endif %}
                                <p style='color: white;'>{{element.dialogue}}</p>
                            {% endif %}
                        </div>
                    </td>

                    <!-- Hidden audio content -->
                    <td hidden='hidden'>
                        {% if element.sound %}
                            <p>{{ element.sound }}</p>
                            <audio id='master-play' controls='controls' autoplay='autoplay'>
                                <source src='{{audio}}' type='audio/ogg'>
                                <source src='{{audio}}' type='audio/mpeg'>
                                Your browser does not support the audio tag.
                            </audio>
                        {% endif %}
                        <br><br>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-2'>
            <button type='button' class='btn-edit btn-sm' id='btn-back'>Back 1 element</button>
        </div>
        <div class='col-md-3'>
            <button type='button' class='btn-edit btn-sm' id='btn-quit-slideshow'>Quit Slideshow</button>
        </div>
        <div class='col-md-2'>
            <button type='button' class='btn-edit btn-sm' id='btn-forward'>Forward 1 element</button>
        </div>
        <div class='col-md-4'>
            SCENE
            {{sceneNumber}}
            (element
            {{elementNumber}}):-
            {{slug}}
        </div>
    </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/slideshow.js'></script>
{% endblock %}