{% extends "showreel/parent.njk" %}
{% block page %}
  <div class='row show'>
    <div class='col-md-12 tableFixHead' id='col-uncompiled' hidden="hidden">
      <table class='table-bordered table-sm table-dark table-grid' id='tab-uncompiled'>
        <tbody>
          {% for i in range(0, uncompiledList.length) -%}
            <tr style='font-size: 80%'>
              <td class='data-left'>{{ uncompiledList[i][0] }}.{{ uncompiledList[i][1] }}</td>
              <td class='data-left'>{{ uncompiledList[i][2] }}</td>
              <td class='data-left'>{{ uncompiledList[i][3] }}</td>
              <td>
                {% if uncompiledList[i][3] !== '' %}
                  <button type='button' class='btn btn-block btn-sm btn-compile' value='{{ uncompiledList[i] }}' id='btn-compile-{{ i }}'>
                    Compile
                  </button>
                {% else %}
                  &nbsp;
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class='row show'>
    <p id='size' hidden="hidden">{{ size }}</p>
    <div class='col-md-12' id='col-banner'>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_scenes'>
        <tbody>
          <tr style='font-size: 80%'>
            <td class='table-data'>
              {% if readyForMaster === 'yes' %}
                <button type='button' class='btn btn-edit' id='btn-master'>Create/Update Master</button>
              {% else %}
                <button type='button' class='btn btn-edit' disabled="disabled">Create/Update Master</button>
              {% endif %}
            </td>
            <td>&nbsp;</td>
            <td class='table-data' colspan='2'>
              {% if masterExists == 'yes' %}
                <button type='button' class='btn btn-edit' id='btn-play-master'>Play Master</button>
              {% else %}
                <button type='button' class='btn btn-edit' id='btn-play-master' disabled="disabled">Play Master</button>
              {% endif %}
            </td>
            <td colspan='2'>&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td colspan='2' class='table-data'>
              &nbsp;&nbsp;&nbsp;
              <audio id='master-play' controls="controls">
                <source src='' type="audio/mpeg">
              </audio>
            </td>
            <td>
              {% if uncompiledList.length > 0 %}
                <button type='button' class='btn btn-edit' id='btn-show-uncompiled'>
                  Uncompiled Elements
                </button>
              {% else %}
                <button type='button' class='btn btn-edit' disabled="disabled">
                  Uncompiled Elements
                </button>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12' id='col-scenes'>
      <table class='table-bordered table-sm table-dark table-grid' id='tab_img'>
        <tbody style='font-size: 80%;'>
          {% for i in range(0, script.length, 8) -%}
            <tr>
              {% for num in range(0, 8) -%}
                {% if i + num < script.length %}
                  <td class='table-data'>
                    {% if merged[i + num] != 'yes' %}
                      {% if readyList[i + num] === 'yes' %}
                        <button type='button' class='btn btn-block btn-sm btn-merge' id='btn-merge_{{ i + num }}' value='{{ i + num }}'>Merge Scene
                          {{ i + num }}</button>
                      {% else %}
                        <button type='button' class='btn btn-block btn-sm btn-incomplete' disabled="disabled">Incomplete - Scene
                          {{ i + num }}</button>
                      {% endif %}
                    {% else %}
                      <button type='button' class='btn btn-edit btn-play' id="play_{{ i + num }}" value='{{ i + num }}'>
                        Play Scene
                        {{ i + num }}
                      </button>
                    {% endif %}
                  </td>
                  <td colspan='2' class='table-data'>&nbsp;</td>
                {% endif %}
              {% endfor %}
            </tr>
            <tr>
              <td style='font-size: 20%;'>&nbsp;</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src='../js/parent.js'></script>
<script src='../js/sound.js'></script>
{% endblock %}
